#admin {
  background: #F4F3FF;

  .admin {
    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      height: 100px;

      &__logos {
        width: 80px;
      }

      &__end {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn{
          width: 130px;
          height: 40px;
          background: #ffffff;
          border: 1px solid #004FC7;
          color: #004FC7;
          border-radius: 5px;
          font-size: 14px;
        }
        img {
          margin-left: 40px;
        }
      }
    }

    &--hero {

      .tables {
        background: #2bd5af;

        &--title {
          padding-top: 20px;

          h4 {
            font-size: 25px;
            font-weight: 600;
          }

          h5 {
            font-size: 20px;
            color: black;
            font-weight: 500;
          }

          h6 {
            font-size: 20px;
            color: black;
            font-weight: 500;
          }
        }

        .table {
          width: 100%;
          background: rgba(0, 79, 199, 0.47);
          padding: 10px 0;
          border-radius: 20px;
          margin: 20px 0;
          .title {
            //padding: 5px 10px 0 20px;
            display: flex;
            align-items: center;
            font-size: 21px;
            font-weight: 600;
            &--name{
              margin-left: 20px;
              width: 37.5%;
            }
            &--price{
              width: 25.5%;
            }
            &--quan{
              width: 23%;
            }

          }
          .product {
            padding: 5px 10px 0 20px;
            display: flex;
            align-items: center;
            color: rgb(255, 255, 255);

            .name{
              font-size: 20px;
              width: 38.5%;
              &--title{
                margin: 4px 0;
                display: flex;
                align-items: center;
              }
              p{
                margin-left: 5px;
                font-weight: bold;
                font-size: 16px;
              }
            }
            .price{
              font-size: 20px;
              width: 26.3%;

              div{
                margin: 4px 0;
                display: flex;
                p{
                  margin-left: 5px;
                  font-weight: bold;
                  font-size: 17px;
                }
              }
            }
            .quantity{
            font-size: 20px;
              width: 23.4%;
              div{
                margin: 4px 0;

              }
          }
          .total{
            font-size: 20px;
            div{
              margin: 4px 0;

            }
          }

          }
          .footer{
            padding: 5px 10px 0 20px;

            p{
              color: rgba(0, 0, 0, 0.78);
              font-size: 22px;
            }
          }
        }
      }

    }
    .table{
      background: #2bd5af;
      table {
        width: 100%;
        color: black;
        font-size: 20px;
        background: rgba(2, 86, 211, 0.73);

      }
    }
  }
}
