@media (max-width: 992px) {
  #category {
    display: flex;
    margin: 40px 0;
    color: #004FC7;
    .category-one1 {
      text-align: center;
      img {
        width: 20px;
        margin-left: 45px;
      }
      h3 {
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one2 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 45px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one3 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 45px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one4 {
      text-align: center;
      img {
        width: 18px;
        margin-left: 50px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one5 {
      text-align: center;
      img {
        width: 17px;
        margin-left: 45px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one6 {
      text-align: center;
      img {
        width: 25px;
        margin-left: 43px;
      }
      h3 {
        font-size: 15px;
        font-weight: 100;
        padding-top: 5px;
      }
    }
    .slick-prev:before,
    .slick-next:before
    {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  #category {
    display: flex;
    margin: 40px 0;
    color: #004FC7;
    .category-one1 {
      text-align: center;
      img {
        width: 20px;
        margin-left: 35px;
      }
      h3 {
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one2 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 35px;
      }
      h3 {
        padding-top: 1.5px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one3 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 35px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one4 {
      text-align: center;
      img {
        width: 18px;
        margin-left: 40px;

      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one5 {
      text-align: center;
      img {
        width: 17px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one6 {
      text-align: center;
      position: relative;
      top: -3px;
      img {
        width: 25px;
        margin-left: 30px;
      }
      h3 {
        font-size: 15px;
        font-weight: 100;
        padding-top: 9px;
      }
    }
  }
}
@media (max-width: 576px) {
  #category {
    display: flex;
    margin: 40px 0;
    color: #004FC7;
    .category-one1 {
      img {
        width: 20px;
        margin-left: 30px;
      }
      h3 {
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one2 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 35px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one3 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 30px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one4 {
      text-align: center;
      img {
        width: 18px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one5 {
      text-align: center;
      img {
        width: 17px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one6 {
      text-align: center;
      img {
        width: 25px;
        margin-left: 30px;
      }
      h3 {
        font-size: 15px;
        line-height: 20px;
        font-weight: 100;
      }
    }
  }
}
@media (max-width: 450px) {
  #category {
    display: flex;
    margin: 40px 0;
    color: #004FC7;
    .category-one1 {
      img {
        width: 20px;
        margin-left: 30px;
      }
      h3 {
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one2 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 35px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one3 {
      //background: #31d52b;
      text-align: center;
      img {
        width: 22px;
        margin-left: 30px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one4 {
      text-align: center;
      img {
        width: 18px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one5 {
      text-align: center;
      img {
        width: 17px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one6 {
      text-align: center;
      img {
        width: 25px;
        margin-left: 30px;
      }
      h3 {
        font-size: 15px;
        line-height: 20px;
        font-weight: 100;
      }
    }
  }
}
@media (max-width: 428px) {
  #category {
    display: flex;
    margin: 40px 0;
    color: #004FC7;
    .category-one1 {
      img {
        width: 22px;
        margin-left: 30px;
      }
      h3 {
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one2 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 35px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one3 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 30px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one4 {
      text-align: center;
      img {
        width: 18px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one5 {
      text-align: center;
      img {
        width: 17px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one6 {
      text-align: center;
      img {
        width: 25px;
        margin-left: 30px;
      }
      h3 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 100;
      }
    }

  }
}
@media (max-width: 414px) {
  #category {
    display: flex;
    margin: 40px 0;
    color: #004FC7;
    .category-one1 {
      img {
        width: 20px;
        margin-left: 30px;
      }
      h3 {
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one2 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 35px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one3 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 30px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one4 {
      text-align: center;
      img {
        width: 18px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one5 {
      text-align: center;
      img {
        width: 17px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one6 {
      text-align: center;
      img {
        width: 25px;
        margin-left: 30px;
      }
      h3 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 100;
      }
    }

  }
}
@media (max-width: 400px) {
  #category {
    display: flex;
    margin: 40px 0 40px 10px;
    color: #004FC7;
    .category-one1 {
      img {
        width: 20px;
        margin-left: 30px;
      }
      h3 {
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one2 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 35px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one3 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 30px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one4 {
      text-align: center;
      img {
        width: 18px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one5 {
      text-align: center;
      img {
        width: 17px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one6 {
      text-align: center;
      img {
        width: 25px;
        margin-left: 30px;
      }
      h3 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 100;
      }
    }
  }
}
@media (max-width: 375px) {
  #category {
    display: flex;
    margin: 40px 0 40px 10px;
    color: #004FC7;
    .category-one1 {
      img {
        width: 20px;
        margin-left: 30px;
      }
      h3 {
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one2 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 35px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one3 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 30px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one4 {
      text-align: center;
      img {
        width: 18px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one5 {
      text-align: center;
      img {
        width: 17px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one6 {
      text-align: center;
      img {
        width: 25px;
        margin-left: 30px;
      }
      h3 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 100;
      }
    }
  }
}
@media (max-width: 361px) {
  #category {
    display: flex;
    margin: 40px 0 40px 20px;
    color: #004FC7;
    .category-one1 {
      img {
        width: 20px;
        margin-left: 44px;

      }
      h3 {
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one2 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 40px;
        fill-opacity: 1;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one3 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 30px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one4 {
      text-align: center;
      img {
        width: 18px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one5 {
      text-align: center;
      img {
        width: 17px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one6 {
      text-align: center;
      position: relative;
      top: -5px;
      img {
        width: 25px;
        margin-left: 30px;
      }
      h3 {
        font-size: 15px;
        line-height: 20px;
        font-weight: 100;
      }
    }
  }
}
@media (max-width: 320px) {
  #category {
    display: flex;
    margin: 40px 0 40px 25px;
    color: #004FC7;
    .category-one1 {
      text-align: center;
      img {
        width: 20px;
        margin-left: 30px;
      }
      h3 {
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one2 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 35px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one3 {
      text-align: center;
      img {
        width: 22px;
        margin-left: 30px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one4 {
      text-align: center;
      img {
        width: 18px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one5 {
      text-align: center;
      img {
        width: 17px;
        margin-left: 40px;
      }
      h3 {
        padding-top: 1px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    .category-one6 {
      text-align: center;
      position: relative;
      top:-2px;
      img {
        //width: 35px;
        //margin-left: 30px;
      }
      h3 {
        padding-top: 0.5px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 100;
      }
    }
  }
}