@media (max-width: 992px) {
  #basket {
    .title {
      font-family: 'Armin Grotesk', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 34px;
      color: #004FC7;
      margin: 30px 0;
    }

    .no-basket {
      margin: 30px auto 20px auto;
      width: 600px;
      height: 550px;
      border-radius: 20px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;

      .block {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 250px;
          height: 250px;
          object-fit: contain;
        }

        h1 {
          margin-top: 10px;
          margin-bottom: 10px;
          text-align: center;
          width: 300px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 31px;
          line-height: 34px;
          color: #004FC7;

        }

        p {
          width: 200px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 19px;
          line-height: 22px;
          text-align: center;
          color: rgba(0, 79, 199, 0.5);
        }

      }
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 600px;
        height: 65px;
        background: #004FC7;
        border-radius: 20px;
        border: none;
        font-family: 'Armin Grotesk', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
      }
    }

    .basket {
      &--total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 95%;
        height: 77px;
        background: #DFE2FF;
        border-radius: 15px;

        h2 {
          font-weight: 600;
          font-size: 26px;
          line-height: 23px;
          color: #004FC7;
        }

        h1 {
          padding-top: 10px;
          width: 105px;
          height: 36px;
          text-align: center;
          background: #FFFFFF;
          border-radius: 15px;
          font-weight: 600;
          font-size: 20px;
          color: #004FC7;
        }
      }

      .basket--card {
        background: #FFFFFF;
        display: flex;
        width: 100%;
        height: 300px;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        margin: 20px 0;
        animation: jan 1s ease-out;
        &__img {
          width: 250px;
          height: 220px;
          margin: 10px 0 20px 50px;
          border-radius: 30px;
        }

        &__word {
          position: relative;
          right: 20px;
          .desc {
            display: flex;
            align-items: center;
            width: 95%;
            justify-content: space-between;

            h2 {
              font-family: 'Armin Grotesk', sans-serif;
              font-weight: 600;
              font-size: 30px;
            }

            .close {
              border-radius: 50%;
              background: rgba(40, 49, 255, 0.3);
              width: 35px;
              height: 35px;
              z-index: 5;
              position: relative;
              top: -10px;
              .icon {
                font-size: 25px;
                color: white;
                position: relative;
                left: 4px;
                top: 5px;
              }
            }
          }

          p {
            font-family: 'Armin Grotesk', sans-serif;
            font-style: italic;
            font-weight: 400;
            font-size: 21px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.7);
            width: 450px;
            margin: 10px 0;
          }

          &--order {
            width: 500px;
            height: 80px;
            background: #DFE2FF;
            border-radius: 50px;
            margin-top: 60px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .price {
              width: 200px;

              h4 {
                font-family: 'Armin Grotesk', sans-serif;
                font-style: italic;
                font-weight: 600;
                font-size: 24px;
                line-height: 22px;
                color: #004FC7;
                margin-left: 15px;
              }
            }

            .count {
              width: 170px;
              height: 50px;
              background: #004FC7;
              border-radius: 40px;
              display: flex;
              align-items: center;
              justify-content: space-around;

              .quantity{
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 22px;
                width: 40px;
                font-weight: 400;
              }

              span{
                //width: 50px;
                font-weight: 700;
                color: white;
                font-size: 22px;
              }
            }


          }
        }
      }

      &--status {
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        align-items: start;

        &__title {
          margin: 20px 0;
          font-weight: 600;
          font-size: 24px;
          line-height: 34px;
          color: #004FC7;
        }

        &__general {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #FFFFFF;
          border-radius: 15px;
          width: 100%;
          height: 77px;

          .active {
            background: #004FC7;
            border-radius: 15px;
            width: 170px;
            height: 50px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
          }

          &--here {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 50px;
            font-weight: 600;
            font-size: 16px;
            color: #004FC7;
          }

          &--with {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 50px;
            font-weight: 600;
            font-size: 16px;
            color: #004FC7;
          }
        }
      }

      &--pay {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 3%;

        &__text {
          h1 {
            font-weight: 600;
            font-size: 45px;
            line-height: 34px;
            color: #004FC7;
          }
        }

        &__block {
          display: flex;
          align-items: center;
          flex-direction: column;

          .active {
            background: #004FC7;
            border-radius: 15px;
            width: 300px;
            height: 54px;
            color: #FFFFFF;

            h2 {
              color: #FFFFFF;
            }

            input {
            }
          }

          &--cash {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #FFFFFF;
            border-radius: 15px;
            width: 300px;
            height: 54px;
            margin: 10px 0;
            h2 {
              width: 100px;
              padding-left: 50px;
              font-weight: 600;
              font-size: 22px;
              line-height: 100%;
              color: #004FC7;
            }
            &__radus{
              width: 14px;
              height: 14px;
              border: solid 2px #004FC7;
              border-radius: 20px;
              box-sizing: border-box;
              margin: 0 20px;
            }
          }

          &--terminal {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #FFFFFF;
            border-radius: 15px;
            width: 300px;
            height: 54px;
            h2 {
              width: 100px;
              padding-left: 50px;
              font-weight: 600;
              font-size: 22px;
              line-height: 100%;
              color: #004FC7;
            }
            &__radus{
              width: 14px;
              height: 14px;
              border: solid 2px #004FC7;
              border-radius: 20px;
              box-sizing: border-box;
              margin: 0 20px;
            }
          }
        }
      }

      &--btn {
        margin-top: 6%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          width: 228px;
          height: 59px;
          background: #004FC7;
          border-radius: 20px;
          font-size: 23px;
          line-height: 23px;
          font-weight: 600;
          color: #FFFFFF;
          border: none;
        }
      }
      .error{
        position: absolute;
        left: 10%;
        top: 40%;
      }
    }
  }
}

@media (max-width: 884px) {
  #basket .basket .basket--card {
    height: 268px;
  }
  #basket .basket--total {
    margin: 0 0 60px 0;
  }
  #basket .basket .basket--card__word--order {
    width: 423px;
    height: 70px;
  }
  #basket .basket .basket--card__img {
    width: 228px;
    height: 204px;
    margin: 10px 0 20px 36px;
    border-radius: 30px;
  }
  #basket .title {
    line-height: 121px;
  }
  #basket .basket .basket--card__word .desc .close .icon {
    font-size: 25px;
    position: relative;
    left: 5px;
  }
}

@media (max-width: 834px) {
  #basket .basket .basket--card {
    height: 268px;
  }

  #basket .basket--total {
    margin: 0 0 60px 0;
  }
  #basket .basket .basket--card__word {
    position: relative;
    right: 1px;
  }
  #basket .basket .basket--card__word--order {
    width: 423px;
    height: 60px;
  }
  #basket .basket .basket--card__img {
    width: 228px;
    height: 204px;
    margin: 10px 0 20px 36px;
    border-radius: 30px;
  }
  #basket .title {
    line-height: 121px;
  }
  #basket .basket .basket--card__word .desc .close {
    width: 34px;
    height: 33px;
  }
}

@media (max-width: 800px) {
  #basket .basket .basket--card__img {
    width: 200px;
    height: 190px;
    margin: 9px 0 20px 26px;
  }
  #basket .basket .basket--card__word p {
    font-size: 24px;
    width: 450px;
    margin: 16px 0;
  }
}

@media (max-width: 768px) {
  #basket .basket .basket--card {
    height: 250px;
  }
  #basket .basket .basket--card__word--order {
    width: 388px;
    height: 60px;
  }
  #basket .basket .basket--card__word .desc {
    width: 82%;
  }
  #basket .basket .basket--card__img {
    width: 200px;
    height: 185px;
    margin: 10px 0 20px 29px;
  }
  #basket .basket .basket--card__word {
    margin: 0 0 0 30px;
  }
  #basket .basket .basket--card__word .desc h2 {
    font-size: 30px;
    width: 304px;
  }
  #basket .basket .basket--card__word .desc .close {
    width: 34px;
    height: 33px;
    position: relative;
    left: 21px;
  }
  #basket{
    .no-basket {
      margin: 10px auto 20px auto;
      width: 550px;
      height: 500px;
      border-radius: 20px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;

      .block {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 250px;
          height: 250px;
          object-fit: contain;
        }

        h1 {
          margin-top: 10px;
          margin-bottom: 10px;
          text-align: center;
          width: 300px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 31px;
          line-height: 34px;
          color: #004FC7;

        }

        p {
          width: 200px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 19px;
          line-height: 22px;
          text-align: center;
          color: rgba(0, 79, 199, 0.5);
        }

      }
    }
  }

}

@media (max-width: 576px) {
  #basket .basket .basket--card__img {
    width: 160px;
    height: 150px;
    margin: 10px 0 20px 18px;
  }
  #basket .basket .basket--card {
    height: 215px;
  }
  #basket .basket .basket--card__word .desc {
    width: 90%;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 250px;
    font-size: 21px;
    position: relative;
    left: -6px;
  }
  #basket .basket .basket--card__word--order {
    width: 289px;
    height: 50px;
  }
  #basket .title {
    font-size: 26px;
    margin: -30px 0 -21px 19px;
  }
  #basket .basket .basket--card__word {
    margin: 0 0 0 -108px;
  }
  #basket .basket .basket--card__word p {
    width: 298px;
  }
  #basket .basket--total {
    width: 91%;
    height: 69px;
  }
  #basket .basket--btn button {
    width: 189px;
    height: 52px;
    background: #004FC7;
    margin: 0 0 20px 0;
    border-radius: 20px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
  }
  #basket .no-basket {
    margin: 0 auto 20px auto;
    width: 417px;
    height: 411px;
  }
  #basket .no-basket .block img {
    width: 158px;
    height: 175px;
  }
  #basket .no-basket .block h1 {
    font-weight: 600;
    font-size: 25px;
  }
  #basket .btn button {
    width: 382px;
    margin: 0 0 20px 0;
    height: 52px;
  }
  #basket .basket .basket--card__word .desc .close .icon {
    font-size: 22px;
    position: relative;
    left: 2px;
    top: 1px;
  }
  #basket .basket .basket--card__word .desc .close {
    width: 25px;
    height: 25px;
    position: relative;
    left: 14px;
  }
  #basket{
    .basket{
      &--pay{
        &__text{
          h1{
            font-size: 30px;
          }
        }
      }
      &--status{

        &__title{
          font-size: 1rem;
        }
      }
      &--btn{
        button{
          width: 217px;
          height: 55px;
        }
      }
      &--status{
        &__general{
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
      .basket--card{
        &__word{
          &--order{
            .count{
              margin-right: 10px;
              height: 40px;
              width: 140px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #basket .basket .basket--card__word .desc .close .icon {
    font-size: 18px;
    color: white;
      position: relative;
    left: 1px;

  }
  #basket .basket .basket--card__word--order .price h4 {
    font-size: 18px;
  }
  #basket .basket--total h2 {
    font-size: 20px;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 176px;
    font-size: 17px;
    position: relative;
    left: 2px;
  }
  #basket .basket .basket--card__word .desc {
    width: 96%;
  }
  #basket .basket .basket--card__img {
    width: 144px;
    height: 148px;
    margin: 10px 0 20px 12px;
  }
  #basket .basket .basket--card {
    height: 198px;
  }
  #basket .basket .basket--card__word--order {
    width: 215px;
    position: relative;
    height: 40px;
    top: -8px;
    left: -5px;
  }
  #basket .basket .basket--card__word p {
    width: 183px;
    font-size: 17px;

  }
  #basket .basket--pay__text h1 {
    font-size: 22px;
    margin: 20px 20px 0 30px;
  }
  #basket .basket--pay__block {
    right: 40px;
    position: relative;
  }
  #basket .basket--status__title h1 {
    font-size: 23px;
    position: relative;
    left: 15px;
    margin: 0 0 10px 0;
  }
  #basket .no-basket {
    margin: 0 auto 20px auto;
    width: 304px;
    height: 320px;
  }
  #basket .no-basket .block h1 {
    font-weight: 600;
    font-size: 19px;

  }
  #basket .no-basket .block p {
    width: 160px;
    font-size: 16px;

  }
  #basket .btn button {
    width: 300px;
    margin: 0 0 20px 0;
    height: 50px;
    font-size: 18px;
  }
  #basket .basket--btn button {
    width: 140px;
    height: 38px;
    border-radius: 18px;
  }
  #basket .basket--total h1 {
    width: 77px;
    height: 25px;
    font-size: 15px;
  }
  #basket .basket .basket--card__word .desc .close {
    width: 20px;
    height: 20px;
    position: relative;
    left: -10px;
  }
  #basket{
    .basket{
      &--pay{
        &__text{
          h1{
            font-size: 25px;
          }
        }
        &__block{
          position: relative;
          right: 4px;
          &--cash{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 48px;
            h2{
              padding-left: 0;
              font-size: 19px;
            }
          }
          &--terminal{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 48px;
            h2{
              padding-left: 0;
              font-size: 19px;
            }
          }
          .active{
            width: 210px;
            height: 48px;
            h2{
              font-size: 19px;
            }
          }
        }
      }
      &--status{
        &__title{
          font-size: 1.2rem;
        }
        &__general{
          &--with{
            font-size: 14px;
          }
          &--here{
            font-size: 14px;
          }
        }
      }
      &--btn{
        button{
          width: 217px;
          height: 55px;
        }
      }
      &--status{
        &__general{
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
      .basket--card{
        &__word{
          &--order{
            .count{
              height: 30px;
              span{
                font-size: 16px;
              }
              .quantity{
                font-size: 16px;
              }
            }
          }
        }
      }
      &--total{
        padding: 0  20px;
      }
    }
  }
}

@media (max-width: 428px) {
  #basket .basket .basket--card__word .desc {
    width: 96%;
    padding: 13px 0 0 0;
  }
  #basket .basket .basket--card__img {
    width: 130px;
    height: 130px;
    margin: 10px 0 20px 12px;
  }
  #basket .basket .basket--card {
    height: 179px;
  }
  #basket .basket .basket--card__word--order {
    height: 35px;
    top: -8px;
    width: 202px;
    left: -8px;
  }
  #basket .basket--total {
    width: 89%;
    height: 50px;
  }
  #basket .basket--total h1 {
    top: -5px;
    height: 25px;
    left: 10px;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 190px;
    font-size: 17px;
    position: relative;
    left: 2px;
  }
  #basket .basket--pay__text h1 {
    font-size: 22px;
  }
  #basket .basket--btn button {
    width: 165px;
    height: 41px;
  }
  #basket .basket--btn button {
    width: 123px;
    height: 37px;
  }
  #basket .basket .basket--card__word .desc .close {
    width: 22px;
    height: 21px;
    position: relative;
    left: -10px;
  }
  #basket{
    .basket{
      &--pay{
        &__text{
          h1{
            font-size: 25px;
          }
        }
        &__block{
          position: relative;
          right: 4px;
          &--cash{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 48px;
            h2{
              padding-left: 0;
              font-size: 19px;
            }
          }
          &--terminal{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 48px;
            h2{
              padding-left: 0;
              font-size: 19px;
            }
          }
          .active{
            width: 210px;
            height: 48px;
            h2{
              font-size: 19px;
            }
          }
        }
      }
      &--status{
        &__title{
          font-size: 1.2rem;
        }
        &__general{
          height: 68px;
          &--with{
            width: 140px;
            font-size: 14px;
          }
          &--here{
            width: 140px;
            font-size: 14px;
          }
          .active{
            width: 140px;
          }
        }
      }
      &--btn{
        button{
          width: 217px;
          height: 55px;
        }
      }
      &--status{
        &__general{
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
      .basket--card{
        &__word{
          &--order{
            .count{
              height: 28px;
              span{
                font-size: 16px;
              }
              .quantity{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  #basket {
    .no-basket {

      width: 304px;
      height: 320px;
      img{
        width: 175px;
        height: 175px;
      }
    }
    .btn {
      button {
        width: 290px;
        font-size: 17px;
      }
    }
  }

}

@media (max-width: 414px) {
  #basket {
    .title {
      font-size: 24px;
    }

    .no-basket {
      width: 300px;
      height: 330px;

      .block {
        h1 {
          margin-top: 10px;
          margin-bottom: 2px;
          text-align: center;
          width: 240px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 34px;
          color: #004FC7;
        }

        p {
          width: 180px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: rgba(0, 79, 199, 0.5);
        }

        img {
          width: 150px;
          height: 150px;
        }
      }
    }

    .btn {
      button {
        width: 250px;
        height: 59px;
        font-size: 17px;
      }
    }
  }
  #basket .no-basket .block h1 {
  }
  #basket .no-basket .block p {
  }
  #basket .btn button {
    height: 45px;
  }
  #basket .basket .basket--card__img {
    width: 124px;
    height: 126px;
  }
  #basket .basket--btn button {
    width: 123px;
    font-size: 14px;
    height: 37px;
  }
  #basket .basket .basket--card__word .desc h2 {
    font-size: 16px;
    width: 150px;
  }
  #basket .basket .basket--card__word--order {
    height: 38px;
    top: -20px;
  }
  #basket .basket .basket--card__word .desc {
    width: 92%;
    padding: 18px 0 0 0;
  }
  #basket{
    .basket{
      &--pay{
        &__text{
          h1{
            font-size: 25px;
          }
        }
        &__block{
          position: relative;
          right: 4px;
          &--cash{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 48px;
            h2{
              padding-left: 0;
              font-size: 19px;
            }
          }
          &--terminal{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 48px;
            h2{
              padding-left: 0;
              font-size: 19px;
            }
          }
          .active{
            width: 210px;
            height: 48px;
            h2{
              font-size: 19px;
            }
          }
        }
      }
      &--status{
        &__title{
          font-size: 1.2rem;
        }
        &__general{
          height: 68px;
          &--with{
            width: 140px;
            font-size: 14px;
          }
          &--here{
            width: 140px;
            font-size: 14px;
          }
          .active{
            width: 140px;
          }
        }
      }
      &--btn{
        button{
          width: 217px;
          height: 55px;
        }
      }
      &--status{
        &__general{
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
    }
  }

}

@media (max-width: 400px) {
  #basket .basket .basket--card__img {
    width: 105px;
    height: 100px;
    position: relative;
    left: 10px;
  }
  #basket .basket--btn button {
    width: 151px;
    height: 41px;
  }
  #basket .basket--pay__text h1 {
    #basket .basket--btn button {
      width: 136px;
      height: 36px;
    }
    font-size: 20px;
  }
  #basket .basket--total h2 {
    font-size: 16px;
    width: 259px;
  }
  #basket .basket .basket--card__word--order {
    height: 40px;
    top: -34px;
    left: 1px;
    width: 200px;
  }
  #basket .basket .basket--card__word p {
    width: 183px;
    font-size: 15px;
    margin: 6px 0 0 0;
  }
  #basket .basket .basket--card__word {
    margin: 24px 15px 0 18px;
  }
  #basket .basket .basket--card__word .desc .close {
    width: 18px;
    height: 18px;
    position: relative;
    left: 15px;
    top: -15px;
  }
  #basket .basket .basket--card__word .desc .close .icon {
    font-size: 14px;
    color: white;
    position: relative;
    left: 2px;
  }
  #basket .basket .basket--card__word--order .count span {
    font-weight: 700;
    margin: 0 1px;
    color: white;
    font-size: 16px;
    text-align: center;
  }
  #basket .basket .basket--card {
    height: 159px;
    border-radius: 25px;
  }
  #basket .basket .basket--card__word--order .price h4 {
    font-size: 14px;
  }
  #basket{
    .basket{
      &--pay{
        &__text{
          h1{
            font-size: 21px;
          }
        }
        &__block{
          position: relative;
          right: 1px;
          &--cash{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 45px;
            h2{
              padding-left: 0;
              font-size: 19px;
            }
          }
          &--terminal{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 45px;
            h2{
              padding-left: 0;
              font-size: 19px;
            }
          }
          .active{
            width: 190px;
            height: 45px;
            h2{
              font-size: 19px;
            }
          }
        }
      }
      &--status{
        &__title{
          font-size: 1.2rem;
        }
        &__general{
          width: 100%;
          height: 68px;
          &--with{
            width: 130px;
            font-size: 12px;
          }
          &--here{
            width: 130px;
            font-size: 12px;
          }
          .active{
            width: 130px;
          }
        }
      }
      &--btn{
        button{
          width: 217px;
          height: 55px;
        }
      }
      &--status{
        &__general{
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
      .basket--card{
        &__word{
          &--order{
            .count{
              height: 30px;
              span{
                font-size: 16px;
              }
              .quantity{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  #basket .basket .basket--card__word .desc h2 {
    font-size: 16px;
    width: 150px;
  }
  #basket .basket .basket--card__img {
    width: 110px;
    height: 105px;
    margin: 10px 0 20px 12px;
  }
  #basket .no-basket {
    width: 300px;
    height: 330px;
  }
  #basket .basket--pay__text h1 {
    font-size: 20px;
  }
  #basket .basket .basket--card__word--order {
    height: 39px;
    top: -28px;
    width: 184px;
    left: -5px;
  }
  #basket .basket .basket--card__word--order .count p {
    font-size: 16px;
  }
  #basket .basket .basket--card__word--order .price h4 {
    font-size: 16px;
  }
  #basket .basket .basket--card__word--order .count {
    width: 140px;
    height: 4px;
  }
  #basket .basket .basket--card__word {
    margin: 7px 10px 0 22px;
  }
  #basket .basket .basket--card__word .desc .close {
    width: 17px;
    height: 17px;
    position: relative;
    left: 15px;
    top: -9px;
  }
}

@media (max-width: 376px) {
  #basket {
    .no-basket {

    }
  }
  #basket .basket .basket--card__word--order .price h4 {
    font-size: 15px;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 150px;
    font-size: 16px;
    position: relative;
    left: 2px;
  }
  #basket .basket .basket--card__img {
    width: 100px;
    height: 100px;
    margin: 10px 0 20px 5px;
    border-radius: 15px;
  }
  #basket .basket .basket--card__word--order {
    height: 39px;
    top: -39px;
    width: 184px;
    left: -5px;
  }
  #basket .basket .basket--card__word {
    margin: 28px 10px 0 22px;
  }
  #basket .basket .basket--card {
    height: 150px;
    border-radius: 25px;
  }
  #basket{
    .basket{
      .basket--card{
        &__word{
          &--order{
            .count{
              height: 30px;
              span{
                font-size: 16px;
              }
              .quantity{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  #basket .basket .basket--card__img {
    width: 100px;
    height: 100px;
    margin: 10px 0 20px 12px;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 150px;
    font-size: 15px;
    position: relative;
    left: 2px;
  }
  #basket .basket .basket--card__word--order {
    height: 32px;
    top: -33px;
    width: 174px;
  }
  #basket .basket .basket--card {
    height: 150px;
  }
  #basket .basket--total h2 {
    font-size: 14px;
    //width: 133px;
  }
  #basket .basket--total h1 {
    top: 46px;
    height: 26px;
    font-size: 17px;
  }
  #basket .basket .basket--card__word {
    margin: 7px 0 0 19px;
  }
  #basket .basket--total h1 {
    top: -6px;
    height: 26px;
    font-size: 17px;
  }
  #basket .basket--total {
    width: 87%;
    height: 50px;
  }
  #basket .basket .basket--card__word .desc .close {
    width: 16px;
    height: 16px;
    position: relative;
    left: 5px;
  }
  #basket .basket .basket--card__word .desc .close .icon {
    font-size: 13px;
    color: white;
    position: relative;
    left: 2px;
    top: -0px;
  }
  #basket{
    .basket{
      &--pay{
        &__text{
          h1{
            font-size: 21px;
          }
        }
        &__block{
          position: relative;
          right: 1px;
          &--cash{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 45px;
            h2{
              padding-left: 0;
              font-size: 19px;
            }
          }
          &--terminal{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 45px;
            h2{
              padding-left: 0;
              font-size: 19px;
            }
          }
          .active{
            width: 190px;
            height: 45px;
            h2{
              font-size: 19px;
            }
          }
        }
      }
      &--status{
        &__title{
          font-size: 1.2rem;
        }
        &__general{
          width: 100%;
          height: 68px;
          &--with{
            width: 130px;
            font-size: 12px;
          }
          &--here{
            width: 130px;
            font-size: 12px;
          }
          .active{
            width: 130px;
          }
        }
      }
      &--btn{
        button{
          width: 177px;
          height: 45px;
        }
      }
      &--status{
        &__general{
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
      .basket--card{
        &__word{
          &--order{
            .count{
              height: 26px;
              span{
                font-size: 16px;
              }
              .quantity{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #basket .basket .basket--card__word .desc h2 {
    width: 150px;
    font-size: 13px;
    position: relative;
    left: -1px;
  }
  #basket .basket .basket--card {
    height: 149px;
  }
  #basket .basket .basket--card__word--order {
    height: 34px;
    top: -33px;
    width: 160px;
    left: -5px;
  }
  #basket .basket .basket--card__word {
    margin: 4px 0 0 35px;
  }
  #basket .basket--total {
    width: 85%;
    height: 50px;
  }
  #basket .basket .basket--card__word .desc {
    width: 88%;
    padding: 29px 0 0 0;
  }
  #basket .basket--pay__block {
    right: 85px;
    position: relative;
  }
  #basket .basket .basket--card__word .desc .close .icon{
    position: relative;
    left: 1px;
  }
  #basket .basket--status__general--here h2 {
    font-size: 14px;
    line-height: 18px;
  }
  #basket .basket .basket--card__word .desc .close {
    width: 16px;
    height: 16px;
    position: relative;
    left: -5px;
  }
  #basket .basket .basket--card__img {
    width:80px;
    height: 85px;
    margin: 10px 0 20px 12px;
  }
  #basket{
    .basket{
      &--pay{
        &__text{
          h1{
            font-size: 19px;
          }
        }
        &__block{
          position: relative;
          right: 1px;
          &--cash{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 175px;
            height: 45px;
            h2{
              padding-left: 0;
              padding-right: 20px;
              font-size: 14px;
            }
            &__radus{
              width: 11px;
              height: 11px;
            }
          }
          &--terminal{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 175px;
            height: 45px;
            h2{
              padding-left: 0;
              padding-right: 20px;
              font-size: 14px;
            }
            &__radus{
              width: 11px;
              height: 11px;
            }
          }
          .active{
            width: 175px;
            height: 45px;
            h2{
              font-size: 14px;
            }
          }
        }
      }
      &--status{
        &__title{
          font-size: 1rem;
        }
        &__general{
          width: 100%;
          height: 68px;
          &--with{
            width: 130px;
            font-size: 10px;
          }
          &--here{
            width: 130px;
            h2{
              font-size: 15px;
            }
          }
          .active{
            width: 130px;
          }
        }
      }
      &--btn{
        button{
          width: 167px;
          height: 45px;
        }
      }
      &--status{
        &__general{
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
      .basket--card{
        &__word{
          &--order{
            .count{
              height: 26px;
              width: 65px;
              span{
                font-size: 14px;
              }
              .quantity{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .no-basket {
      width: 235px;
      height: 292px;
      .block{
        h1{
          font-size: 19px;
        }
        p{
          font-size: 15px;
        }
      }
      #basket .basket--pay__block--terminal input {
        height: 15px;
      }

      #basket .basket--pay__block--cash input {
        height: 15px;
      }
    }
    .btn{
      button{
        width: 230px;
        height: 45px;
        font-size: 16px;
      }
    }

  }
}