@media (max-width: 992px) {
  #basket {
    margin-top: 110px;
    .title {
      font-family: 'Armin Grotesk', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 34px;
      color: #004FC7;
      margin: 30px 0;
    }

    .no-basket {
      margin: 30px auto 20px auto;
      width: 600px;
      height: 550px;
      border-radius: 20px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;

      .block {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 250px;
          height: 250px;
          object-fit: contain;
        }

        h1 {
          margin-top: 10px;
          margin-bottom: 10px;
          text-align: center;
          width: 300px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 31px;
          line-height: 34px;
          color: #004FC7;

        }

        p {
          width: 200px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 19px;
          line-height: 22px;
          text-align: center;
          color: rgba(0, 79, 199, 0.5);
        }

      }
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 600px;
        height: 65px;
        background: #004FC7;
        border-radius: 20px;
        border: none;
        font-family: 'Armin Grotesk', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
      }
    }

    .basket {
      &--total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 95%;
        height: 77px;
        background: #DFE2FF;
        border-radius: 15px;

        h2 {
          font-weight: 600;
          font-size: 26px;
          line-height: 23px;
          color: #004FC7;
        }

        h1 {
          padding-top: 10px;
          width: 105px;
          height: 36px;
          text-align: center;
          background: #FFFFFF;
          border-radius: 15px;
          font-weight: 600;
          font-size: 20px;
          color: #004FC7;
        }
      }





      &--status {
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        align-items: start;

        &__title {
          margin: 20px 0;
          font-weight: 600;
          font-size: 24px;
          line-height: 34px;
          color: #004FC7;
        }

        &__general {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #FFFFFF;
          border-radius: 15px;
          width: 100%;
          height: 77px;

          .active {
            background: #004FC7;
            border-radius: 15px;
            width: 170px;
            height: 50px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
          }

          &--here {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 50px;
            font-weight: 600;
            font-size: 16px;
            color: #004FC7;
          }

          &--with {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 50px;
            font-weight: 600;
            font-size: 16px;
            color: #004FC7;
          }
        }
      }

      &--pay {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 3%;

        &__text {
          h1 {
            font-weight: 600;
            font-size: 45px;
            line-height: 34px;
            color: #004FC7;
          }
        }

        &__block {
          display: flex;
          align-items: center;
          flex-direction: column;

          .active {
            background: #004FC7;
            border-radius: 15px;
            width: 300px;
            height: 54px;
            color: #FFFFFF;

            h2 {
              color: #FFFFFF;
            }

            input {
            }
          }

          &--cash {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #FFFFFF;
            border-radius: 15px;
            width: 300px;
            height: 54px;
            margin: 10px 0;

            h2 {
              width: 100px;
              padding-left: 50px;
              font-weight: 600;
              font-size: 22px;
              line-height: 100%;
              color: #004FC7;
            }

            &__radus {
              width: 14px;
              height: 14px;
              border: solid 2px #004FC7;
              border-radius: 20px;
              box-sizing: border-box;
              margin: 0 20px;
            }
          }

          &--terminal {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #FFFFFF;
            border-radius: 15px;
            width: 300px;
            height: 54px;

            h2 {
              width: 100px;
              padding-left: 50px;
              font-weight: 600;
              font-size: 22px;
              line-height: 100%;
              color: #004FC7;
            }

            &__radus {
              width: 14px;
              height: 14px;
              border: solid 2px #004FC7;
              border-radius: 20px;
              box-sizing: border-box;
              margin: 0 20px;
            }
          }
        }
      }

      &--btn {
        margin-top: 6%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          width: 228px;
          height: 59px;
          background: #004FC7;
          border-radius: 20px;
          font-size: 23px;
          line-height: 23px;
          font-weight: 600;
          color: #FFFFFF;
          border: none;
        }
      }

      .error {
        position: absolute;
        left: 10%;
        top: 40%;
      }
    }
  }
}

@media (max-width: 768px) {
  #basket {

    .no-basket {
      margin: 10px auto 20px auto;
      width: 550px;
      height: 500px;
      border-radius: 20px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;

      .block {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 250px;
          height: 250px;
          object-fit: contain;
        }

        h1 {
          margin-top: 10px;
          margin-bottom: 10px;
          text-align: center;
          width: 300px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 31px;
          line-height: 34px;
          color: #004FC7;

        }

        p {
          width: 200px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 19px;
          line-height: 22px;
          text-align: center;
          color: rgba(0, 79, 199, 0.5);
        }

      }
    }
  }

}

@media (max-width: 576px) {
  #basket {
    .basket {

    }

    .no-basket {
      margin: 10px auto 20px auto;
      width: 550px;
      height: 500px;
      border-radius: 20px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;

      .block {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 250px;
          height: 250px;
          object-fit: contain;
        }

        h1 {
          margin-top: 10px;
          margin-bottom: 10px;
          text-align: center;
          width: 300px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 31px;
          line-height: 34px;
          color: #004FC7;

        }

        p {
          width: 200px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 19px;
          line-height: 22px;
          text-align: center;
          color: rgba(0, 79, 199, 0.5);
        }

      }
    }
  }
  #basket {
        .basket {
          &--pay {
            &__text {
              h1 {
                font-size: 30px;
              }
            }
          }

          &--status {

            &__title {
              font-size: 1rem;
            }
          }

          &--btn {
            button {
              width: 217px;
              height: 55px;
            }
          }

          &--status {
            &__general {
              display: flex;
              align-items: center;
              justify-content: space-around;
            }
          }


        }
      }
    #basket .basket--total {
      width: 91%;
      height: 69px;
    }
    #basket .basket--btn button {
      width: 189px;
      height: 52px;
      background: #004FC7;
      margin: 0 0 20px 0;
      border-radius: 20px;
      font-size: 16px;
      line-height: 23px;
      font-weight: 600;
      color: #FFFFFF;
      border: none;
    }
    #basket .no-basket {
      margin: 0 auto 20px auto;
      width: 417px;
      height: 411px;
    }
    #basket .no-basket .block img {
      width: 158px;
      height: 175px;
    }
    #basket .no-basket .block h1 {
      font-weight: 600;
      font-size: 25px;
    }
    #basket .btn button {
      width: 382px;
      margin: 0 0 20px 0;
      height: 52px;
    }

}

@media (max-width: 450px) {


  #basket .basket--pay__text h1 {
    font-size: 22px;
    margin: 20px 20px 0 30px;
  }
  #basket .basket--pay__block {
    right: 40px;
    position: relative;
  }
  #basket .basket--status__title h1 {
    font-size: 23px;
    position: relative;
    left: 15px;
    margin: 0 0 10px 0;
  }
  #basket .no-basket {
    margin: 0 auto 20px auto;
    width: 304px;
    height: 320px;
  }
  #basket .no-basket .block h1 {
    font-weight: 600;
    font-size: 19px;

  }
  #basket .no-basket .block p {
    width: 160px;
    font-size: 16px;

  }
  #basket .btn button {
    width: 300px;
    margin: 0 0 20px 0;
    height: 50px;
    font-size: 18px;
  }
  #basket .basket--btn button {
    width: 140px;
    height: 38px;
    border-radius: 18px;
  }
  #basket .basket--total h1 {
    width: 77px;
    height: 25px;
    font-size: 15px;
  }
  #basket {
    .basket {
      &--pay {
        &__text {
          h1 {
            font-size: 25px;
          }
        }

        &__block {
          position: relative;
          right: 4px;

          &--cash {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 48px;

            h2 {
              padding-left: 0;
              font-size: 19px;
            }
          }

          &--terminal {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 48px;

            h2 {
              padding-left: 0;
              font-size: 19px;
            }
          }

          .active {
            width: 210px;
            height: 48px;
            border-radius: 10px;

            h2 {
              font-size: 19px;
            }
          }
        }
      }

      &--status {
        .signal {
          width: 3px;
          height: 40px;
          background: #004FC7;
        }

        &__title {
          font-size: 1.2rem;
        }

        &__general {
          border-radius: 10px;

          &--with {
            font-size: 14px;
          }

          &--here {
            font-size: 14px;
          }

          .active {
            border-radius: 7px;
          }
        }
      }

      &--btn {
        button {
          width: 217px;
          height: 55px;
          border-radius: 12px;
        }
      }

      &--status {
        &__general {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
      &--total {
        border-radius: 10px;
        padding: 0 20px;

        h1 {
          border-radius: 7px;
        }
      }
    }
  }
}

@media (max-width: 428px) {
  #basket .basket--total {
    width: 89%;
    height: 50px;
  }
  #basket .basket--total h1 {
    top: -5px;
    height: 25px;
    left: 10px;
  }
  #basket .basket--pay__text h1 {
    font-size: 19px;
  }
  #basket .basket--btn button {
    width: 165px;
    height: 41px;
  }
  #basket .basket--btn button {
    width: 123px;
    height: 37px;
  }
  #basket .basket .basket--card__word .desc .close {

  }
  #basket {
    .basket {
      &--pay {
        &__text {
          h1 {
            font-size: 25px;
          }
        }

        &__block {
          position: relative;
          right: 4px;

          &--cash {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 48px;

            h2 {
              padding-left: 0;
              font-size: 19px;
            }
          }

          &--terminal {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 48px;

            h2 {
              padding-left: 0;
              font-size: 19px;
            }
          }

          .active {
            width: 210px;
            height: 48px;

            h2 {
              font-size: 19px;
            }
          }
        }
      }

      &--status {
        &__title {
          font-size: 1.2rem;
        }

        &__general {
          height: 68px;

          &--with {
            width: 140px;
            font-size: 14px;
          }

          &--here {
            width: 140px;
            font-size: 14px;
          }

          .active {
            width: 140px;
          }
        }
      }

      &--btn {
        button {
          width: 217px;
          height: 55px;
        }
      }

      &--status {
        &__general {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }


    }
  }
  #basket {
    .no-basket {

      width: 304px;
      height: 320px;

      img {
        width: 175px;
        height: 175px;
      }
    }

    .btn {
      button {
        width: 290px;
        font-size: 17px;
      }
    }
  }

}

@media (max-width: 414px) {
  #basket {
    .title {
      font-size: 24px;
    }

    .no-basket {
      width: 300px;
      height: 330px;

      .block {
        h1 {
          margin-top: 10px;
          margin-bottom: 2px;
          text-align: center;
          width: 240px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 34px;
          color: #004FC7;
        }

        p {
          width: 180px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: rgba(0, 79, 199, 0.5);
        }

        img {
          width: 150px;
          height: 150px;
        }
      }
    }

    .btn {
      button {
        width: 250px;
        height: 59px;
        font-size: 17px;
      }
    }
  }
  #basket .btn button {
    height: 45px;
  }
  #basket .basket--btn button {
    width: 123px;
    font-size: 14px;
    height: 37px;
  }
  #basket {
    .basket {
      &--pay {
        &__text {
          h1 {
            font-size: 25px;
          }
        }

        &__block {
          position: relative;
          right: 4px;

          &--cash {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 48px;

            h2 {
              padding-left: 0;
              font-size: 19px;
            }
          }

          &--terminal {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 48px;

            h2 {
              padding-left: 0;
              font-size: 19px;
            }
          }

          .active {
            width: 210px;
            height: 48px;

            h2 {
              font-size: 19px;
            }
          }
        }
      }

      &--status {
        &__title {
          font-size: 1.2rem;
        }

        &__general {
          height: 68px;

          &--with {
            width: 140px;
            font-size: 14px;
          }

          &--here {
            width: 140px;
            font-size: 14px;
          }

          .active {
            width: 140px;
          }
        }
      }

      &--btn {
        button {
          width: 217px;
          height: 55px;
        }
      }

      &--status {
        &__general {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
    }
  }

}

@media (max-width: 400px) {
  #basket .basket--btn button {
    width: 151px;
    height: 41px;
  }
  #basket .basket--pay__text h1 {
    #basket .basket--btn button {
      width: 136px;
      height: 36px;
    }

    font-size: 20px;
  }
  #basket .basket--total h2 {
    font-size: 16px;
    width: 259px;
  }
  #basket {
    .basket {
      &--pay {
        &__text {
          h1 {
            font-size: 21px;
          }
        }

        &__block {
          position: relative;
          right: 1px;

          &--cash {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 45px;

            h2 {
              padding-left: 0;
              font-size: 19px;
            }
          }

          &--terminal {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 45px;

            h2 {
              padding-left: 0;
              font-size: 19px;
            }
          }

          .active {
            width: 190px;
            height: 45px;

            h2 {
              font-size: 19px;
            }
          }
        }
      }

      &--status {
        &__title {
          font-size: 1.2rem;
        }

        &__general {
          width: 100%;
          height: 68px;

          &--with {
            width: 130px;
            font-size: 12px;
          }

          &--here {
            width: 130px;
            font-size: 12px;
          }

          .active {
            width: 130px;
          }
        }
      }

      &--btn {
        button {
          width: 217px;
          height: 55px;
        }
      }

      &--status {
        &__general {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }


    }
  }
}


@media (max-width: 390px) {
  #basket .no-basket {
    width: 300px;
    height: 330px;
  }
  #basket .basket--pay__text h1 {
    font-size: 20px;
  }
  #basket .basket--pay__text h1 {
    font-size: 17px;
  }

}

@media (max-width: 376px) {

}

@media (max-width: 360px) {
  #basket .basket--total h2 {
    font-size: 14px;
    //width: 133px;
  }
  #basket .basket--total h1 {
    top: 46px;
    height: 26px;
    font-size: 17px;
  }
  #basket .basket--total h1 {
    top: -6px;
    height: 26px;
    font-size: 17px;
  }
  #basket .basket--total {
    width: 87%;
    height: 50px;
  }
  #basket {
    .basket {
      &--pay {
        &__text {
          h1 {
            font-size: 21px;
          }
        }

        &__block {
          position: relative;
          right: 1px;

          &--cash {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 45px;

            h2 {
              padding-left: 0;
              font-size: 19px;
            }
          }

          &--terminal {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 45px;

            h2 {
              padding-left: 0;
              font-size: 19px;
            }
          }

          .active {
            width: 190px;
            height: 45px;

            h2 {
              font-size: 19px;
            }
          }
        }
      }

      &--status {
        &__title {
          font-size: 1.2rem;
        }

        &__general {
          width: 100%;
          height: 68px;

          &--with {
            width: 130px;
            font-size: 12px;
          }

          &--here {
            width: 130px;
            font-size: 12px;
          }

          .active {
            width: 130px;
          }
        }
      }

      &--btn {
        button {
          width: 177px;
          height: 45px;
        }
      }

      &--status {
        &__general {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }

    }
  }
}

@media (max-width: 320px) {
  #basket .basket--total {
    width: 85%;
    height: 50px;
  }
  #basket .basket--pay__block {
    right: 85px;
    position: relative;
  }
  #basket .basket--status__general--here h2 {
    width: 150px;
    font-size: 14px;
    line-height: 18px;
  }
  #basket {
    .basket {
      &--pay {
        &__text {
          h1 {
            font-size: 19px;
          }
        }

        &__block {
          position: relative;
          right: 1px;

          &--cash {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 175px;
            height: 45px;

            h2 {
              padding-left: 0;
              padding-right: 20px;
              font-size: 14px;
            }

            &__radus {
              width: 11px;
              height: 11px;
            }
          }

          &--terminal {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 175px;
            height: 45px;

            h2 {
              padding-left: 0;
              padding-right: 20px;
              font-size: 14px;
            }

            &__radus {
              width: 11px;
              height: 11px;
            }
          }

          .active {
            width: 175px;
            height: 45px;

            h2 {
              font-size: 14px;
            }
          }
        }
      }

      &--status {
        &__title {
          font-size: 1rem;
        }

        &__general {
          width: 100%;
          height: 68px;
          text-align: center;

          &--with {
            width: 130px;
            font-size: 10px;
            h2 {
              font-size: 15px;
            }
          }

          &--here {
            width: 130px;
            font-size: 12px;
            h2 {
              font-size: 15px;
            }
          }

          .active {
            width: 130px;
          }
        }
      }

      &--btn {
        button {
          width: 167px;
          height: 45px;
        }
      }

      &--status {
        &__general {
        }
      }


    }

    .no-basket {
      width: 235px;
      height: 292px;

      .block {
        h1 {
          font-size: 19px;
        }

        p {
          font-size: 15px;
        }
      }

      #basket .basket--pay__block--terminal input {
        height: 15px;
      }

      #basket .basket--pay__block--cash input {
        height: 15px;
      }
    }

    .btn {
      button {
        width: 230px;
        height: 45px;
        font-size: 16px;
      }
    }

  }
}
