@media (max-width: 992px) {
  #basket {
    .title {
      font-family: 'Armin Grotesk', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 34px;
      color: #121212;
    }

    .no-basket {
      margin: 90px auto 20px auto;
      width: 600px;
      height: 600px;
      border-radius: 20px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;

      .block {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 250px;
          height: 250px;
        }

        h1 {
          margin-top: 10px;
          margin-bottom: 10px;
          text-align: center;
          width: 300px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 31px;
          line-height: 34px;
          color: #004FC7;

        }

        p {
          width: 200px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 19px;
          line-height: 22px;
          text-align: center;
          color: rgba(0, 79, 199, 0.5);
        }

      }
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 600px;
        height: 65px;
        background: #004FC7;
        border-radius: 20px;
        border: none;
        font-family: 'Armin Grotesk', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
      }
    }

    .basket {
      &--total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 95%;
        height: 77px;
        background: #DFE2FF;
        border-radius: 15px;

        h2 {
          font-weight: 600;
          font-size: 26px;
          line-height: 23px;
          color: #004FC7;
        }

        h1 {
          padding-top: 10px;
          width: 105px;
          height: 36px;
          text-align: center;
          background: #FFFFFF;
          border-radius: 15px;
          font-weight: 600;
          font-size: 20px;
          color: #004FC7;
        }
      }

      .basket--card {
        background: #FFFFFF;
        display: flex;
        width: 100%;
        height: 300px;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        margin: 20px 0;
        animation: jan 1s ease-out;
        //@keyframes jan {
        //  0% {
        //    transform: translatey(400px);
        //  }
        //}
        &__img {
          width: 250px;
          height: 220px;
          margin: 10px 0 20px 50px;
          border-radius: 30px;
        }

        &__word {
          .desc {
            display: flex;
            align-items: center;
            width: 95%;
            justify-content: space-between;

            h2 {
              font-family: 'Armin Grotesk', sans-serif;
              font-weight: 600;
              font-size: 30px;
              width: 500px;
            }

            .close {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              background: rgba(40, 49, 255, 0.3);
              width: 25px;
              height: 25px;

              .icon {
                font-size: 25px;
                color: white;
              }
            }
          }

          p {
            font-family: 'Armin Grotesk', sans-serif;
            font-style: italic;
            font-weight: 400;
            font-size: 21px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.7);
            width: 450px;
            margin: 10px 0;
          }

          &--order {
            width: 500px;
            height: 80px;
            background: #DFE2FF;
            border-radius: 50px;
            margin-top: 60px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .price {
              width: 200px;

              h4 {
                font-family: 'Armin Grotesk', sans-serif;
                font-style: italic;
                font-weight: 600;
                font-size: 24px;
                line-height: 22px;
                color: #004FC7;
                margin-left: 15px;
              }
            }

            .count {
              width: 200px;
              height: 55px;
              background: #004FC7;
              border-radius: 40px;
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                color: white;
                font-size: 22px;
                width: 20px;
                margin: 0 40px;
              }

              span {
                font-weight: 700;
                margin: 0 5px;
                color: white;
                font-size: 20px;
              }
            }


          }
        }
      }

      &--status {
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        align-items: start;

        &__title {
          margin: 20px 0;
          font-weight: 600;
          font-size: 24px;
          line-height: 34px;
          color: #121212;
        }

        &__general {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #FFFFFF;
          border-radius: 15px;
          width: 100%;
          height: 77px;

          .active {
            background: #004FC7;
            border-radius: 15px;
            width: 170px;
            height: 50px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
          }

          &--here {
            padding: 0 40px;
            font-weight: 600;
            font-size: 16px;
            line-height: 23px;
            color: #004FC7;
          }

          &--with {
            padding: 0 40px;
            font-weight: 600;
            font-size: 16px;
            line-height: 23px;
            color: #004FC7;
          }
        }
      }

      &--pay {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 3%;

        &__text {
          h1 {
            font-weight: 600;
            font-size: 45px;
            line-height: 34px;
            color: #121212;
          }
        }

        &__block {
          display: flex;
          align-items: center;
          flex-direction: column;

          .active {
            background: #004FC7;
            border-radius: 15px;
            width: 300px;
            height: 54px;
            color: #FFFFFF;

            h2 {
              color: #FFFFFF;
            }

            input {
            }
          }

          &--cash {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #FFFFFF;
            border-radius: 15px;
            width: 300px;
            height: 54px;
            margin: 10px 0;

            h2 {
              width: 100px;
              padding-left: 50px;
              font-weight: 600;
              font-size: 22px;
              line-height: 100%;
              color: #004FC7;
            }

            input {
              margin-left: 20px;
              width: 30px;
              height: 20px;
            }
          }

          &--terminal {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #FFFFFF;
            border-radius: 15px;
            width: 300px;
            height: 54px;

            h2 {
              width: 100px;
              padding-left: 50px;
              font-weight: 600;
              font-size: 22px;
              line-height: 100%;
              color: #004FC7;
            }

            input {
              margin-left: 20px;
              width: 30px;
              height: 20px;
            }
          }
        }
      }

      &--btn {
        margin-top: 6%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          width: 228px;
          height: 59px;
          background: #004FC7;
          border-radius: 20px;
          font-size: 16px;
          line-height: 23px;
          font-weight: 600;
          color: #FFFFFF;
          border: none;
        }
      }
    }
  }
}

@media (max-width: 834px) {
  #basket .basket .basket--card {
    height: 268px;
  }
  #basket .basket .basket--card__word--order .count {
    width: 192px;
    height: 43px;
  }
  #basket .basket--total h2 {
    margin-left: 33px;
  }
  #basket .basket--total {
    margin: 0 0 60px 0;
  }
  #basket .basket .basket--card__word--order {
    width: 423px;
    height: 60px;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 378px;
  }
  #basket .basket .basket--card__img {
    width: 228px;
    height: 204px;
    margin: 10px 0 20px 36px;
    border-radius: 30px;
  }
  #basket .title {
    line-height: 121px;
  }
}

@media (max-width: 800px) {
  #basket .basket .basket--card__img {
    width: 211px;
    height: 204px;
    margin: 9px 0 20px 26px;
  }

}

@media (max-width: 768px) {
  #basket {
    .title {
      font-size: 30px;
    }

    .no-basket {
      margin: 40px auto 20px auto;
    }

    .basket {
      &--total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 95%;
        height: 77px;
        background: #DFE2FF;
        border-radius: 15px;

        h2 {
          font-weight: 600;
          font-size: 26px;
          line-height: 23px;
          color: #004FC7;
        }

        h1 {
          padding-top: 10px;
          width: 105px;
          height: 36px;
          text-align: center;
          background: #FFFFFF;
          border-radius: 15px;
          font-weight: 600;
          font-size: 20px;
          color: #004FC7;
        }
      }

      .basket--card {
        background: #FFFFFF;
        display: flex;
        width: 100%;
        height: 300px;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        margin: 20px 0;
        animation: jan 1s ease-out;
        //@keyframes jan {
        //  0% {
        //    transform: translatey(400px);
        //  }
        //}
        &__img {
          width: 250px;
          height: 220px;
          margin: 10px 0 20px 50px;
          border-radius: 30px;
        }

        &__word {
          .desc {
            display: flex;
            align-items: center;
            width: 95%;
            justify-content: space-between;

            h2 {
              font-family: 'Armin Grotesk', sans-serif;
              font-weight: 600;
              font-size: 30px;
              width: 500px;
            }

            .close {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              background: rgba(40, 49, 255, 0.3);
              width: 25px;
              height: 25px;

              .icon {
                font-size: 25px;
                color: white;
              }
            }
          }

          p {
            font-family: 'Armin Grotesk', sans-serif;
            font-style: italic;
            font-weight: 400;
            font-size: 21px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.7);
            width: 450px;
            margin: 10px 0;
          }

          &--order {
            width: 500px;
            height: 80px;
            background: #DFE2FF;
            border-radius: 50px;
            margin-top: 60px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .price {
              width: 200px;

              h4 {
                font-family: 'Armin Grotesk', sans-serif;
                font-style: italic;
                font-weight: 600;
                font-size: 24px;
                line-height: 22px;
                color: #004FC7;
                margin-left: 15px;
              }
            }

            .count {
              width: 200px;
              height: 55px;
              background: #004FC7;
              border-radius: 40px;
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                color: white;
                font-size: 22px;
                width: 20px;
                margin: 0 40px;
              }

              span {
                font-weight: 700;
                margin: 0 5px;
                color: white;
                font-size: 20px;
              }
            }


          }
        }
      }

      &--status {
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        align-items: start;

        &__title {
          margin: 10px 0;

          h1 {
            margin: 0;
            font-weight: 600;
            font-size: 30px;
            line-height: 34px;
            color: #121212;
          }
        }

        &__general {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #FFFFFF;
          border-radius: 15px;
          width: 100%;
          height: 77px;

          &--here {
            padding: 0 40px;
            font-weight: 600;
            font-size: 16px;
            line-height: 23px;
            color: #004FC7;
          }

          &--with {
            padding: 0 40px;
            font-weight: 600;
            font-size: 16px;
            line-height: 23px;
            color: #004FC7;
          }
        }
      }

      &--pay {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 3%;

        &__text {
          h1 {
            font-weight: 600;
            font-size: 34px;
            line-height: 34px;
            color: #121212;
          }
        }

        &__block {
          display: flex;
          align-items: center;
          flex-direction: column;

          &--cash {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #FFFFFF;
            border-radius: 15px;
            width: 300px;
            height: 54px;
            margin: 10px 0;

            h2 {
              width: 100px;
              padding-left: 50px;
              font-weight: 600;
              font-size: 22px;
              line-height: 100%;
              color: #004FC7;
            }

            input {
              margin-left: 20px;
              width: 30px;
              height: 20px;
            }
          }

          &--terminal {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #FFFFFF;
            border-radius: 15px;
            width: 300px;
            height: 54px;

            h2 {
              width: 100px;
              padding-left: 50px;
              font-weight: 600;
              font-size: 22px;
              line-height: 100%;
              color: #004FC7;
            }

            input {
              margin-left: 20px;
              width: 30px;
              height: 20px;
            }
          }
        }
      }

      &--btn {
        margin-top: 6%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          width: 228px;
          height: 59px;
          background: #004FC7;
          border-radius: 20px;
          font-size: 16px;
          line-height: 23px;
          font-weight: 600;
          color: #FFFFFF;
          border: none;
        }
      }
    }
  }
  #basket .basket .basket--card {
    height: 250px;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 309px;
    font-size: 27px;
  }
  #basket .basket .basket--card__word--order {
    width: 388px;
    height: 48px;
  }
  #basket .basket .basket--card__word--order .count {
    width: 156px;
    height: 39px;
  }
  #basket .basket .basket--card__word .desc {
    width: 82%;
  }
  #basket .basket .basket--card__img {
    width: 214px;
    height: 192px;
    margin: 10px 0 20px 29px;
  }
  #basket .basket .basket--card__word {
    margin: 0 0 0 30px;
  }
}

@media (max-width: 576px) {
  #basket .basket .basket--card__img {
    width: 172px;
    height: 166px;
    margin: 10px 0 20px 18px;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 250px;
    font-size: 21px;
  }
  #basket .basket .basket--card {
    height: 215px;
  }
  #basket .basket .basket--card__word .desc {
    width: 90%;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 250px;
    font-size: 21px;
    position: relative;
    left: -6px;
  }
  #basket .basket .basket--card__word--order {
    width: 289px;
    height: 40px;
    position: relative;
    left: -9px;
    top: -7px;
  }
  #basket .basket .basket--card__word--order {
    width: 289px;
    height: 40px;
  }
  #basket .basket .basket--card__word--order .count {
    width: 157px;
    height: 35px;
  }
  #basket .title {
    font-size: 26px;
    margin: -30px 0 -21px 19px;
  }
  #basket .basket .basket--card__word {
    margin: 0 0 0 -108px;
  }
  #basket .basket .basket--card__word p {
    width: 298px;
  }
  #basket .basket--total {
    width: 91%;
    height: 69px;
  }
  #basket .basket .basket--card__word--order .count {
    width: 157px;
    height: 30px;
    margin-right: 6px;
  }
}

@media (max-width: 450px) {
  #basket .basket .basket--card__word .desc .close .icon {
    font-size: 18px;
    color: white;

  }
  #basket .basket .basket--card__word--order .price h4 {
    font-size: 19px;
  }
  #basket .basket--total h2 {
    font-size: 20px;
  }
  #basket .basket .basket--card__word .desc .close {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(40, 49, 255, 0.3);
    width: 21px;
    position: relative;
    height: 21px;
    right: 1px;
    top: -12px;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 176px;
    font-size: 17px;
    position: relative;
    left: 2px;
  }
  #basket .basket .basket--card__word .desc {
    width: 96%;
  }
  #basket .basket .basket--card__img {
    width: 144px;
    height: 148px;
    margin: 10px 0 20px 12px;
  }
  #basket .basket .basket--card {
    height: 198px;
  }
  #basket .basket .basket--card__word--order {
    width: 221px;
    position: relative;
    height: 40px;
    top: -8px;
    left: -5px;
  }
  #basket .basket .basket--card__word--order .count p {
    color: white;
    font-size: 20px;
    width: 20px;
    margin: 0 4px;
  }
  #basket .basket .basket--card__word p {
    width: 183px;
    font-size: 17px;

    #basket {
      .no-basket {
        margin: 90px auto 20px auto;
        width: 400px;
        height: 600px;
      }

      .basket {
        &--total {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;
          width: 95%;
          height: 77px;
          background: #DFE2FF;
          border-radius: 15px;

          h2 {
            font-weight: 600;
            font-size: 26px;
            line-height: 23px;
            color: #004FC7;
          }

          h1 {
            padding-top: 10px;
            width: 105px;
            height: 36px;
            text-align: center;
            background: #FFFFFF;
            border-radius: 15px;
            font-weight: 600;
            font-size: 20px;
            color: #004FC7;
          }
        }

        .basket--card {
          background: #FFFFFF;
          display: flex;
          width: 100%;
          height: 300px;
          align-items: center;
          justify-content: space-between;
          border-radius: 20px;
          margin: 20px 0;
          animation: jan 1s ease-out;
          //@keyframes jan {
          //  0% {
          //    transform: translatey(400px);
          //  }
          //}
          &__img {
            width: 250px;
            height: 220px;
            margin: 10px 0 20px 50px;
            border-radius: 30px;
          }

          &__word {
            .desc {
              display: flex;
              align-items: center;
              width: 95%;
              justify-content: space-between;

              h2 {
                font-family: 'Armin Grotesk', sans-serif;
                font-weight: 600;
                font-size: 30px;
                width: 500px;
              }

              .close {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: rgba(40, 49, 255, 0.3);
                width: 25px;
                height: 25px;

                .icon {
                  font-size: 25px;
                  color: white;
                }
              }
            }

            p {
              font-family: 'Armin Grotesk', sans-serif;
              font-style: italic;
              font-weight: 400;
              font-size: 21px;
              line-height: 17px;
              color: rgba(0, 0, 0, 0.7);
              width: 450px;
              margin: 10px 0;
            }

            &--order {
              width: 500px;
              height: 80px;
              background: #DFE2FF;
              border-radius: 50px;
              margin-top: 60px;
              display: flex;
              align-items: center;
              justify-content: space-around;

              .price {
                width: 200px;

                h4 {
                  font-family: 'Armin Grotesk', sans-serif;
                  font-style: italic;
                  font-weight: 600;
                  font-size: 24px;
                  line-height: 22px;
                  color: #004FC7;
                  margin-left: 15px;
                }
              }

              .count {
                width: 200px;
                height: 55px;
                background: #004FC7;
                border-radius: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                  color: white;
                  font-size: 22px;
                  width: 20px;
                  margin: 0 40px;
                }

                span {
                  font-weight: 700;
                  margin: 0 5px;
                  color: white;
                  font-size: 20px;
                }
              }


            }
          }
        }

        &--status {
          margin-top: 8%;
          display: flex;
          flex-direction: column;
          align-items: start;

          &__title {
            margin: 10px 0;

            h1 {
              margin: 0;
              font-weight: 600;
              font-size: 27px;
              line-height: 34px;
              color: #121212;
            }
          }

          &__general {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #FFFFFF;
            border-radius: 15px;
            width: 100%;
            height: 77px;

            &--here {
              padding: 0 40px;
              font-weight: 600;
              font-size: 13px;
              line-height: 23px;
              color: #004FC7;
            }

            &--with {
              padding: 0 40px;
              font-weight: 600;
              font-size: 13px;
              line-height: 23px;
              color: #004FC7;
            }
          }
        }

        &--pay {
          display: flex;
          justify-content: space-between;
          align-items: start;
          margin-top: 3%;

          &__text {
            h1 {
              font-weight: 600;
              font-size: 28px;
              line-height: 34px;
              color: #121212;
            }
          }

          &__block {
            display: flex;
            align-items: center;
            flex-direction: column;

            &--cash {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              background: #FFFFFF;
              border-radius: 15px;
              width: 240px;
              height: 54px;
              margin: 10px 0;

              h2 {
                width: 100px;
                padding-left: 10px;
                font-weight: 600;
                font-size: 22px;
                line-height: 100%;
                color: #004FC7;
              }

              input {
                margin-left: 20px;
                width: 30px;
                height: 20px;
              }
            }

            &--terminal {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              background: #FFFFFF;
              border-radius: 15px;
              width: 240px;
              height: 54px;

              h2 {
                width: 100px;
                padding-left: 10px;
                font-weight: 600;
                font-size: 22px;
                line-height: 100%;
                color: #004FC7;
              }

              input {
                margin-left: 20px;
                width: 30px;
                height: 20px;
              }
            }
          }
        }

        &--btn {
          margin-top: 6%;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            width: 228px;
            height: 59px;
            background: #004FC7;
            border-radius: 20px;
            font-size: 16px;
            line-height: 23px;
            font-weight: 600;
            color: #FFFFFF;
            border: none;
          }
        }
      }

      .btn {
        button {
          width: 400px;
          height: 65px;
          border-radius: 19px;
        }
      }
    }
  }
}

@media (max-width: 428px) {
  #basket .basket--total h1 {
    top: 46px;
    position: relative;
  }
  #basket .basket .basket--card__word .desc {
    width: 96%;
    padding: 13px 0 0 0;
  }
  #basket .basket .basket--card__img {
    width: 135px;
    height: 136px;
    margin: 10px 0 20px 12px;
  }
  #basket .basket .basket--card {
    height: 179px;
  }
  #basket .basket .basket--card__word--order {

    height: 34px;
    top: -8px;
    left: -10px;
  }

  #basket .basket .basket--card__word--order {
    height: 34px;
    top: -8px;
    width: 202px;
    left: -8px;
  }
  #basket .basket--total {
    width: 89%;
    height: 50px;
  }
  #basket .basket--total h1 {
    top: 46px;
    height: 30px;
    left: 10px;
    position: relative;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 150px;
    font-size: 17px;
    position: relative;
    left: 2px;
  }

}

@media (max-width: 414px) {
  #basket {
    .title {
      font-size: 24px;
    }

    .no-basket {
      margin: 90px auto 10px auto;
      width: 300px;
      height: 330px;

      .block {
        h1 {
          margin-top: 10px;
          margin-bottom: 2px;
          text-align: center;
          width: 240px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 34px;
          color: #004FC7;
        }

        p {
          width: 180px;
          font-family: 'Armin Grotesk', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: rgba(0, 79, 199, 0.5);
        }

        img {
          width: 150px;
          height: 150px;
        }
      }
    }

    .btn {
      button {
        width: 250px;
        height: 59px;
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 400px) {
  #basket .basket .basket--card__word--order {
    height: 34px;
    top: -22px;
    width: 194px;
    left: -8px;
  }
  #basket .basket .basket--card__word--order {
    height: 34px;
    top: -22px;
    width: 184px;
    left: -8px;
  }
}

@media (max-width: 390px) {
  #basket .basket .basket--card__img {
    width: 128px;
    height: 129px;
    margin: 10px 0 20px 12px;
  }
}

@media (max-width: 376px) {
  #basket {
    .no-basket {
      margin: 70px auto 10px auto;
    }
  }
  #basket .basket .basket--card__word .desc .close {
    width: 18px;
    position: relative;
    height: 18px;
    right: 1px;
    top: -8px;
  }
  #basket .basket .basket--card__word--order .price h4 {
    font-size: 15px;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 150px;
    font-size: 16px;
    position: relative;
    left: 2px;
  }
}

@media (max-width: 360px) {
  #basket .basket .basket--card__img {
    width: 114px;
    height: 114px;
    margin: 10px 0 20px 12px;
  }
  #basket .basket .basket--card__word--order {
    height: 34px;
    top: -33px;
    width: 184px;
    left: -8px;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 150px;
    font-size: 15px;
    position: relative;
    left: 2px;
  }
  #basket .basket .basket--card__word--order .count p {
    color: white;
    font-size: 16px;
    width: 20px;
    margin: -4px -8px 0 4px;
  }
  #basket .basket .basket--card__word--order {
    height: 34px;
    top: -33px;
    width: 174px;
    left: 0px;
  }
  #basket .basket .basket--card {
    height: 165px;
  }
  #basket .basket--total h2 {
    font-size: 15px;
    width: 133px;
  }
  #basket .basket--total h1 {
    top: 46px;
    height: 26px;
    font-size: 17px;
  }
  #basket .basket--total {
    width: 87%;
    height: 50px;
  }
}

@media (max-width: 320px) {
  #basket .basket .basket--card__img {
    width: 101px;
    height: 99px;
    margin: 10px 0 20px 12px;
  }
  #basket .basket .basket--card__word .desc h2 {
    width: 150px;
    font-size: 13px;
    position: relative;
    left: -2px;
  }
  #basket .basket .basket--card__word .desc {
    width: 96%;
    padding: 29px 0 0 0;
  }
  #basket .basket .basket--card {
    height: 149px;
  }
  #basket .basket .basket--card__word--order {
    height: 34px;
    top: -33px;
    width: 160px;
    left: -5px;
  }
  #basket .basket .basket--card__word {
    margin: 4px 0 0 8px;
  }
  #basket .basket .basket--card__word .desc {
    width: 81%;
    padding: 29px 0 0 0;
  }
  #basket .basket .basket--card__img {
    width: 91px;
    height: 99px;
    margin: 10px 0 20px 12px;
  }
  #basket .basket .basket--card__word {
    margin: 4px 0 0 15px;
  }
  #basket .basket--total {
    width: 85%;
    height: 50px;
  }
  #basket .basket .basket--card__word .desc {
    width: 88%;
    padding: 29px 0 0 0;
  }
  #basket .basket .basket--card__img {
    width: 81px;
    height: 93px;
    margin: 10px 0 20px 12px;
  }
}