@media (max-width: 992px) {
  #modalBasket{
    height: 100vh;
    background: url("https://foodddy.ru/post/tiser/3851c3620e9ed1e4dc258d1ab02475da.jpg") no-repeat right/cover;
    .modalBasket{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 23%;
      animation: sad 1s ease-out ;
      @keyframes sad {
        0%{
          transform: translateX(-400px);
        }
        30%{
          transform: rotateY(200deg);
        }
      }
      &--block{
        width: 342px;
        height: 337px;
        background: #DFE2FF;
        border-radius: 20px;
        &__ich{
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          img{
            margin-top: 20%;
          }
          h1{
            margin: 15px 0;
            font-weight: 600;
            font-size: 22px;
            line-height: 34px;
            color: #004FC7;
          }
          &--close{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(40, 49, 255, 0.3);
            font-size: 40px;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            p{
              font-size: 30px;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}