@media (max-width: 992px) {
  #modal {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.85);
      backdrop-filter: blur(5px);
  }
  .modal{
    position: fixed;
    background: #FFFFFF;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 700px;
    border-radius: 40px 40px 0 0;
    transition: .9s ;
    animation:modal linear .9s;
    z-index: 10;
  }

  .modals{
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    .close{
      position: absolute;
      top: 30px;
      right: 30px;
      background: rgba(40, 49, 255, 0.3);
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 15;
      .icon{
        font-size: 30px;
        color: white;
      }
    }
    &--img{
      padding-top: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      img{
        width: 600px;
        height: 375px;
        border-radius: 50px;
      }

    }
    &--desc{
      margin: 50px 0 0 200px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 15;
      h2{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 34px;
        color: #121212;
      }
      h3{
        margin: 25px 0 20px 0;
        width: 350px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 27px;
        color: rgba(0, 0, 0, 0.7);
      }
      h4{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 26px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 10px;
        margin-bottom: 16px;
      }
      h5{
        margin-top: 5px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 23px;
        color: #121212;
        span{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 26px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
    &--basket{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin-top: 50px;
      margin-bottom: 150px;
      .basket{
        width: 290px;
        height: 65px;
        background: #004FC7;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        margin:0 30px 0 100px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 22px;
        color: #DFE2FF;
      .icon-block{
        margin-left: 30px;
        width: 80px;
        height: 45px;
        background: #DFE2FF;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;;
        .icon{
          font-size: 26px;
          color: #004FC7;
        }
      }
      }
      .count{
        width: 200px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: #DFE2FF;
        border-radius: 25px;
        span{
          color: #004FC7;
          font-size: 30px;
          margin-top: 5px;
          font-weight: 500;
        }

        p{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          line-height: 96.2%;
          color: #004FC7;
          margin: 0 15px;
          padding-bottom: 2px;
        }
      }
    }
  }
}
@media (max-width: 884px) {
  #modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
  }
  .modal{
    position: fixed;
    background: #FFFFFF;
    left: 0;
    width: 100%;
    min-height: 636px;
    border-radius: 40px 40px 0 0;
    transition: .9s ease all;
    z-index: 10;
  }
  .modals{
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    .close{
      position: absolute;
      top: 30px;
      right: 30px;
      background: rgba(40, 49, 255, 0.3);
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 15;
      .icon{
        font-size: 30px;
        color: white;
      }
    }
    &--img{
      padding-top: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 550px;
        height: 375px;
        border-radius: 50px;
      }

    }
    &--desc{
      margin: 50px 0 0 180px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 15;
      h2{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 34px;
        color: #121212;
      }
      h3{
        margin: 20px 0 20px 0;
        width: 350px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.7);
      }
      h4{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 26px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 10px;
        margin-bottom: 16px;
      }
      h5{
        margin-top: 5px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 23px;
        color: #121212;
        span{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 26px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
    &--basket{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin-top: 50px;
      margin-left: 70px;
      margin-bottom: 150px;
      .basket{
        width: 290px;
        height: 65px;
        background: #004FC7;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        margin:0 30px 0 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 22px;
        color: #DFE2FF;
        .icon-block{
          margin-left: 30px;
          width: 80px;
          height: 45px;
          background: #DFE2FF;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;;
          .icon{
            font-size: 26px;
            color: #004FC7;
          }
        }
      }
      .count{
        width: 200px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: #DFE2FF;
        border-radius: 25px;
        span{
          color: #004FC7;
          font-size: 25px;
          margin-top: 5px;
        }

        p{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          line-height: 96.2%;
          color: #004FC7;
          margin: 0 15px;
          padding-bottom: 2px;
        }
      }
    }
  }
}
@media (max-width: 834px) {
  #modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
  }
  .modal{
    position: fixed;
    background: #FFFFFF;
    left: 0;
    width: 100%;
    min-height: 600px;
    border-radius: 40px 40px 0 0;
    transition: .9s ease all;
    z-index: 10;
  }
  .modals{
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    .close{
      position: absolute;
      top: 30px;
      right: 30px;
      background: rgba(40, 49, 255, 0.3);
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 15;
      .icon{
        font-size: 30px;
        color: white;
      }
    }
    &--img{
      padding-top: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 460px;
        height: 350px;
        border-radius: 50px;
      }

    }
    &--desc{
      margin: 50px 0 0 200px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 15;
      h2{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 34px;
        color: #121212;
      }
      h3{
        margin: 15px 0 20px 0;
        width: 350px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
      }
      h4{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 26px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 10px;
        margin-bottom: 16px;
      }
      h5{
        margin-top: 5px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 23px;
        color: #121212;
        span{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 26px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
    &--basket{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin-top: 50px;
      margin-left: 70px;
      margin-bottom: 150px;
      .basket{
        width: 290px;
        height: 65px;
        background: #004FC7;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        margin:0 30px 0 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 22px;
        color: #DFE2FF;
        .icon-block{
          margin-left: 30px;
          width: 80px;
          height: 45px;
          background: #DFE2FF;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;;
          .icon{
            font-size: 26px;
            color: #004FC7;
          }
        }
      }
      .count{
        width: 200px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: #DFE2FF;
        border-radius: 25px;
        span{
          color: #004FC7;
          font-size: 25px;
          margin-top: 5px;
        }

        p{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          line-height: 96.2%;
          color: #004FC7;
          margin: 0 15px;
          padding-bottom: 2px;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  #modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
  }
  .modal{
    position: fixed;
    background: #FFFFFF;
    left: 0;
    width: 100%;
    min-height: 600px;
    border-radius: 40px 40px 0 0;
    transition: .9s ease all;
    z-index: 10;
  }
  .modals{
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    .close{
      position: absolute;
      top: 30px;
      right: 30px;
      background: rgba(40, 49, 255, 0.3);
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 15;
      .icon{
        font-size: 30px;
        color: white;
      }
    }
    &--img{
      padding-top: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 460px;
        height: 350px;
        border-radius: 50px;
      }

    }
    &--desc{
      margin: 50px 0 0 170px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 15;
      h2{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 34px;
        color: #121212;
      }
      h3{
        margin: 20px 0 20px 0;
        width: 350px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.7);
      }
      h4{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 26px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 10px;
        margin-bottom: 16px;
      }
      h5{
        margin-top: 5px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 23px;
        color: #121212;
        span{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 26px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
    &--basket{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin-top: 50px;
      margin-left: 70px;
      margin-bottom: 150px;
      .basket{
        width: 250px;
        height: 60px;
        background: #004FC7;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        margin:0 30px 0 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        color: #DFE2FF;
        .icon-block{
          margin-left: 30px;
          width: 65px;
          height: 35px;
          background: #DFE2FF;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;;
          .icon{
            font-size: 22px;
            color: #004FC7;
          }
        }
      }
      .count{
        width: 190px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: #DFE2FF;
        border-radius: 25px;
        span{
          color: #004FC7;
          font-size: 25px;
          margin-top: 5px;
        }

        p{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          line-height: 96.2%;
          color: #004FC7;
          margin: 0 15px;
          padding-bottom: 2px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
  }
  .modal{
    position: fixed;
    background: #FFFFFF;
    left: 0;
    width: 100%;
    min-height: 500px;
    border-radius: 40px 40px 0 0;
    transition: .9s ease all;
    z-index: 10;
  }
  .modals{
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    .close{
      position: absolute;
      top: 30px;
      right: 30px;
      background: rgba(40, 49, 255, 0.3);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 15;
      .icon{
        font-size: 25px;
        color: white;
      }
    }
    &--img{
      padding-top: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 350px;
        height: 250px;
        border-radius: 50px;
      }

    }
    &--desc{
      margin: 50px 0 0 120px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 15;
      h2{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size:28px;
        line-height: 34px;
        color: #121212;
      }
      h3{
        margin: 15px 0 20px 0;
        width: 240px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.7);
      }
      h4{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 10px;
        margin-bottom: 16px;
      }
      h5{
        margin-top: 5px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #121212;
        span{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 20px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
    &--basket{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin-top: 50px;
      margin-left: 80px;
      margin-bottom: 150px;
      .basket{
        width: 220px;
        height: 45px;
        background: #004FC7;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        margin:0 30px 0 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        color: #DFE2FF;
        .icon-block{
          margin-left: 30px;
          width: 60px;
          height: 30px;
          background: #DFE2FF;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;;
          .icon{
            font-size: 22px;
            color: #004FC7;
          }
        }
      }
      .count{
        width: 160px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: #DFE2FF;
        border-radius: 25px;
        span{
          color: #004FC7;
          font-size: 25px;
          margin-top: 5px;
        }

        p{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          line-height: 96.2%;
          color: #004FC7;
          margin: 0 15px;
          padding-bottom: 2px;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  #modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
  }
  .modal{
    position: fixed;
    background: #FFFFFF;
    left: 0;
    width: 100%;
    min-height: 500px;
    border-radius: 40px 40px 0 0;
    transition: .9s ease all;
    z-index: 10;
  }
  .modals{
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    .close{
      position: absolute;
      top: 30px;
      right: 30px;
      background: rgba(40, 49, 255, 0.3);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 15;
      .icon{
        font-size: 25px;
        color: white;
      }
    }
    &--img{
      padding-top: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 300px;
        height: 220px;
        border-radius: 50px;
      }

    }
    &--desc{
      margin: 50px 0 0 100px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 15;
      h2{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        width: 300px;
        line-height: 34px;
        color: #121212;
      }
      h3{
        margin: 15px 0 20px 0;
        width: 200px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
      }
      h4{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 10px;
        margin-bottom: 16px;
      }
      h5{
        margin-top: 5px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #121212;
        span{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 20px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
    &--basket{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin-top: 50px;
      margin-left: 60px;
      margin-bottom: 150px;
      padding: 0 0 20px 0;
      .basket{
        width: 250px;
        height: 45px;
        background: #004FC7;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        margin:0 30px 0 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #DFE2FF;
        .icon-block{
          margin-left: 30px;
          width: 50px;
          height: 30px;
          background: #DFE2FF;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;;
          .icon{
            font-size: 22px;
            color: #004FC7;
          }
        }
      }
      .count{
        width: 150px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: #DFE2FF;
        border-radius: 25px;
        span{
          color: #004FC7;
          font-size: 25px;
          margin-top: 5px;
        }

        p{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 96.2%;
          color: #004FC7;
          margin: 0 15px;
          padding-bottom: 2px;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  #modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
  }
  .modal{
    position: fixed;
    background: #FFFFFF;
    left: 0;
    width: 100%;
    min-height: 480px;
    border-radius: 40px 40px 0 0;
    transition: .9s ease all;
    z-index: 10;
  }
  .modals{
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    .close{
      position: absolute;
      top: 20px;
      right: 20px;
      background: rgba(40, 49, 255, 0.3);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 15;
      .icon{
        font-size: 25px;
        color: white;
      }
    }
    &--img{
      padding-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 300px;
        height: 220px;
        border-radius: 50px;
      }

    }
    &--desc{
      margin: 30px 0 0 70px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 15;
      h2{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        width: 280px;
        line-height: 34px;
        color: #121212;
      }
      h3{
        margin: 15px 0 20px 0;
        width: 200px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
      }
      h4{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 10px;
        margin-bottom: 16px;
      }
      h5{
        margin-top: 5px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #121212;
        span{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 20px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
    &--basket{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin-top: 50px;
      margin-left: 40px;
      margin-bottom: 150px;
      padding: 0 0 30px 0;
      .basket{
        width: 250px;
        height: 45px;
        background: #004FC7;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        margin:0 30px 0 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #DFE2FF;
        .icon-block{
          margin-left: 30px;
          width: 50px;
          height: 30px;
          background: #DFE2FF;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;;
          .icon{
            font-size: 22px;
            color: #004FC7;
          }
        }
      }
      .count{
        width: 150px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: #DFE2FF;
        border-radius: 25px;
        span{
          color: #004FC7;
          font-size: 25px;
          margin-top: 5px;
        }

        p{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 96.2%;
          color: #004FC7;
          margin: 0 15px;
          padding-bottom: 2px;
        }
      }
    }
  }
}
@media (max-width: 390px) {
  #modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
  }
  .modal{
    position: fixed;
    background: #FFFFFF;
    left: 0;
    width: 100%;
    min-height: 430px;
    border-radius: 40px 40px 0 0;
    transition: .9s ease all;
    z-index: 10;
  }
  .modals{
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    .close{
      position: absolute;
      top: 20px;
      right: 20px;
      background: rgba(40, 49, 255, 0.3);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 15;
      .icon{
        font-size: 25px;
        color: white;
      }
    }
    &--img{
      padding-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 250px;
        height: 200px;
        border-radius: 50px;
      }

    }
    &--desc{
      margin: 30px 0 0 80px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 15;
      h2{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        width: 190px;
        line-height: 34px;
        color: #121212;
      }
      h3{
        margin: 15px 0 20px 0;
        width: 200px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
      }
      h4{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 10px;
        margin-bottom: 16px;
      }
      h5{
        margin-top: 5px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #121212;
        span{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 20px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
    &--basket{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin-top: 50px;
      margin-left: 40px;
      margin-bottom: 150px;
      padding: 0 0 60px 0;
      .basket{
        width: 270px;
        height: 40px;
        background: #004FC7;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        margin:20px 30px 20px 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #DFE2FF;
        .icon-block{
          margin-left: 30px;
          width: 35px;
          height: 30px;
          background: #DFE2FF;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;;
          .icon{
            font-size: 20px;
            color: #004FC7;
          }
        }
      }
      .count{
        width: 150px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: #DFE2FF;
        border-radius: 25px;
        span{
          color: #004FC7;
          font-size: 25px;
          margin-top: 5px;
        }

        p{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 96.2%;
          color: #004FC7;
          margin: 0 15px;
          padding-bottom: 2px;
        }
      }
    }
  }
}
@media (max-width: 376px) {
  #modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
  }
  .modal{
    position: fixed;
    background: #FFFFFF;
    left: 0;
    width: 100%;
    min-height: 430px;
    border-radius: 30px 30px 0 0;
    transition: .9s ease all;
    z-index: 10;
  }
  .modals{
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    .close{
      position: absolute;
      top: 20px;
      right: 20px;
      background: rgba(40, 49, 255, 0.3);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 15;
      .icon{
        font-size: 17px;
        color: white;
      }
    }
    &--img{
      padding-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 250px;
        height: 200px;
        border-radius: 50px;
      }

    }
    &--desc{
      margin: 30px 0 0 80px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 15;
      h2{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        width: 190px;
        line-height: 34px;
        color: #121212;
      }
      h3{
        margin: 15px 0 20px 0;
        width: 200px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
      }
      h4{
        font-family: 'Armin Grotesk',sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 10px;
        margin-bottom: 16px;
      }
      h5{
        margin-top: 5px;
        font-family: 'Armin Grotesk',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #121212;
        span{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 20px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
    &--basket{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin-top: 50px;
      margin-left: 40px;
      margin-bottom: 150px;
      padding: 0 0 88px 0;
      .basket{
        width: 270px;
        height: 40px;
        background: #004FC7;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        margin:0 30px 5px 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #DFE2FF;
        .icon-block{
          margin-left: 30px;
          width: 35px;
          height: 30px;
          background: #DFE2FF;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;;
          .icon{
            font-size: 17px;
            color: #004FC7;
          }
        }
      }
      .count{
        width: 150px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: #DFE2FF;
        border-radius: 25px;
        span{
          color: #004FC7;
          font-size: 25px;
          margin-top: 5px;
        }

        p{
          font-family: 'Armin Grotesk',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 96.2%;
          color: #004FC7;
          margin: 0 15px;
          padding-bottom: 2px;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .modals--desc h2 {
    font-size: 25px;
    width: 211px;
  }
  .modal {
    border-radius: 25px 25px 0 0;
  }
  .modals--basket .basket .icon-block {
    width: 32px;
    height: 24px;
  }
  .modals--basket .basket {
    width: 270px;
    height: 40px;
    margin: 0 30px 0 -1px;
    font-weight: 400;
    font-size: 14px;
  }
  .modals--basket .count {
    width: 168px;
    height: 40px;
  }
}
@media (max-width: 320px) {
  .modals--desc {
    margin: 30px 0 0 63px;
  }
  .modals--img img {
    width: 233px;
    height: 157px;
    border-radius: 36px;
  }
}

