@media (max-width: 992px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 70px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          font-size: 22px;
          &--icon {
            font-size: 35px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 20px;
            option {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 864px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 60px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          font-size: 22px;
          &--icon {
            font-size: 30px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 17px;
            option {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 50px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          font-size: 22px;
          &--icon {
            font-size: 27px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 15px;
            option {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 50px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          font-size: 22px;
          &--icon {
            font-size: 27px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 15px;
            option {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 50px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          font-size: 22px;
          &--icon {
            font-size: 27px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 15px;
            option {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 50px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          font-size: 22px;
          &--icon {
            font-size: 27px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 15px;
            option {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 415px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 45px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          &--icon {
            font-size: 25px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 14px;
            option {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 409px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 45px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          &--icon {
            font-size: 25px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 14px;
            option {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 401px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 45px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          &--icon {
            font-size: 25px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 14px;
            option {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 45px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          &--icon {
            font-size: 25px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 14px;
            option {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 45px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          &--icon {
            font-size: 25px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 14px;
            option {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 361px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 42px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          &--icon {
            font-size: 25px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 13px;
            option {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      img {
        width: 40px;
      }
      &--end {
        display: flex;
        align-items: center;
        &__one {
          margin-right: 20px;
          &--icon {
            font-size: 23px;
          }
        }
        &__two {
          select {
            border: none;
            background: transparent;
            outline: none;
            margin-bottom: 4px;
            font-size: 12px;
            option {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
