@media (max-width: 992px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      img {
        width: 70px;
      }

      &--end {
        display: flex;
        align-items: center;

        &__one {
          margin-right: 20px;
          font-size: 22px;
          position: relative;
          .sup {
            position: absolute;
            right: 25px;
            bottom: 18px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #ffffff;
            border: 1px solid #004FC7;
            display: flex;
            align-items: center;
            justify-content: center;

            sup {
              color: #004FC7;
              font-weight: bold;
              font-size: 15px;
            }
          }

          &--icon {
            font-size: 37px;
            color: #004FC7;
          }
        }

        &__two {
          select {
            border-radius: 5px;
            border: none;
            background: royalblue;
            padding: 9px 8px 8px 8px;
            color: #FFFFFF;

            option {
              margin: 10px 0 0 0;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      &--end {
        display: flex;
        align-items: center;

        &__one {
          margin-right: 20px;

          .sup {
            position: absolute;
            right: 26px;
            height: 22px;
            width: 22px;

            sup {
              font-size: 12px;
            }
          }
        }

        &__two {
          select {
            border: none;
            outline: none;
            margin-bottom: 4px;
            background: #0256d3;

            option {
              font-size: 10px;
              background: steelblue;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      img {
        width: 60px;
      }

      &--end {
        display: flex;
        align-items: center;

        &__one {
          margin-right: 20px;
          font-size: 22px;

          .sup {
            width: 20px;
            height: 20px;

            sup {
              font-size: 12px;
            }
          }

          &--icon {
            width: 30px;
          }
        }

        &__two {
          select {
            border: none;
            outline: none;
            margin-bottom: 4px;
            width: 59px;
            height: 30px;
            background: #0256d3;
            font-size: 10px;

            option {
              font-size: 10px;
              background: steelblue;
            }
          }

        }
      }
    }
  }
}

@media (max-width: 451px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      img {
        width: 60px;
      }

      &--end {
        display: flex;
        align-items: center;

        &__one {
          margin-right: 20px;
          font-size: 22px;

          .sup {
            width: 20px;
            height: 20px;

            sup {
              font-size: 12px;
            }
          }

          &--icon {
            width: 30px;
          }
        }

        &__two {
          select {
            border: none;
            outline: none;
            border-radius: 10px;
            margin-bottom: 4px;
            width: 59px;
            height: 30px;
            background: #0256d3;
            font-size: 10px;

            option {
              font-size: 11px;
              background: steelblue;
            }
          }

        }
      }
    }
  }
}

@media (max-width: 428px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      &--end {
        display: flex;
        align-items: center;

        &__one {
          margin-right: 20px;
          font-size: 22px;
          &--icon{
            font-size: 31px;
          }

          .sup {
            width: 17px;
            height: 17px;

            sup {
              font-size: 10px;
            }
          }
        }

        &__two {
          select {
            border: none;
            outline: none;
            margin-bottom: 6px;
            border-radius: 10px;
            height: 27px;
            background: #0256d3;
            font-size: 9px;

            option {
              font-size: 10px;
              background: steelblue;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 415px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      &--end {
        display: flex;
        align-items: center;

        &__one {
          margin-right: 20px;
          font-size: 22px;
        }

        &__two {

        }
      }
    }
  }

}

@media (max-width: 400px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      &--end {
        display: flex;
        align-items: center;

        &__one {
          margin-right: 20px;
          font-size: 22px;
        }

        &__two {

        }
      }
    }
  }
}

@media (max-width: 376px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      &--end {
        display: flex;
        align-items: center;

        &__one {
          margin-right: 20px;
          font-size: 22px;
        }

        &__two {

        }
      }
    }
  }
}

@media (max-width: 360px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      &--end {
        display: flex;
        align-items: center;

        &__one {
          margin-right: 12px;
          font-size: 22px;

        }

        &__two {

        }
      }
    }
  }
}

@media (max-width: 320px) {
  #header {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      &--end {
        display: flex;
        align-items: center;

        &__one {
          margin-right: 5px;
          font-size: 22px;
        }

        &__two {
         select {
            border: none;
            outline: none;
            margin-bottom: 5px;
            border-radius: 10px;
            height: 27px;
            background: #0256d3;
            font-size: 9px;
            position: relative;
            left: 10px;
          }
        }
      }
    }
  }
}