@media (max-width: 992px) {
  #food .food h1 {
    font-family: "Armin Grotesk,", sans-serif;
    font-weight: 600;
    font-size: 41px;
    margin: 0 0 0 36px;
  }
  .food--card {
    background: #FFFFFF;
    display: flex;
    width: 845px;
    height: 250px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 50px 0 50px 10px;

    &__img {
      width: 240px;
      height: 200px;
      border-radius: 30px;
    }

    &__word {
      margin-top: 50px;
      width: 500px;
      height: 250px;
      text-align: left;

      h2 {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 600;
        font-size: 27px;
        width: 500px;
      }

      p {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        width: 450px;
        margin: 20px 0;
      }

      &--order {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 420px;
        margin: 50px 0 0 0;

        h4 {
          font-family: 'Armin Grotesk', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 22px;
          line-height: 19px;
          color: #000000;
        }

        &__icon1 {
          background: #DFE2FF;
          border-radius: 15px;
          width: 70px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            font-size: 30px;
            color: #0256d3;
          }
        }

      }
    }
  }
}

@media (max-width: 884px) {
  h1 {
    font-size: 41px;
    margin: 10px 0 0 60px;
  }
  .food--card {
    background: #FFFFFF;
    display: flex;
    position: relative;
    width: 700px;
    height: 300px;
    right: 10px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 50px 0 50px 30px;

    &__img {
      width: 210px;
      height: 190px;
      position: relative;
      left: -5px;
      margin: 20px 0 20px 50px;
      border-radius: 30px;
    }

    &__word {
      margin-top: 50px;
      width: 449px;
      position: relative;
      left: 30px;
      height: 250px;
      text-align: left;

      h2 {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 600;
        font-size: 27px;
        width: 200px;
      }

      p {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        width: 300px;
        margin: 20px 0;
      }

      &--order {
        display: flex;
        align-items: center;

        width: 420px;

        h4 {
          font-family: 'Armin Grotesk', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 22px;
          line-height: 19px;
          color: #000000;
        }

        &__icon1 {
          background: #DFE2FF;
          border-radius: 15px;
          width: 70px;
          height: 35px;
          right: 101px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            font-size: 30px;
            color: #0256d3;
          }
        }

      }
    }
  }

}

@media (max-width: 800px) {
  .food--card {
    background: #FFFFFF;
    display: flex;
    width: 700px;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 50px 0 50px 20px;

    &__img {
      width: 210px;
      height: 190px;
      margin: 20px 0 20px 50px;
      border-radius: 30px;
    }

    &__word {
      margin-top: 50px;
      width: 449px;
      height: 250px;
      text-align: left;

      h2 {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 600;
        font-size: 27px;
        width: 200px;
      }

      p {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        width: 300px;
        margin: 20px 0;
      }

      &--order {
        display: flex;
        align-items: center;
        width: 420px;

        h4 {
          font-family: 'Armin Grotesk', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 22px;
          line-height: 19px;
          color: #000000;
        }

        &__icon1 {
          background: #DFE2FF;
          border-radius: 15px;
          width: 70px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            font-size: 30px;
            color: #0256d3;
          }
        }

      }
    }
  }

}

@media (max-width: 768px) {
  .food--card {
    background: #FFFFFF;
    display: flex;
    width: 640px;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 50px 0 50px 30px;

    &__img {
      width: 200px;
      height: 190px;
      margin: 20px 0 20px 50px;
      border-radius: 30px;
    }

    &__word {
      width: 449px;
      margin: 40px 0 0 20px;
      height: 250px;
      text-align: left;

      h2 {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 600;
        font-size: 27px;
        width: 300px;
      }

      p {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        width: 270px;
        margin: 20px 0;
      }

      &--order {
        display: flex;
        align-items: center;
        width: 420px;

        h4 {
          font-family: 'Armin Grotesk', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 22px;
          line-height: 19px;
          color: #000000;
        }

        &__icon1 {
          background: #DFE2FF;
          border-radius: 15px;
          width: 70px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            font-size: 30px;
            color: #0256d3;
          }
        }

      }
    }
  }

}

@media (max-width: 576px) {
  #food .food h1 {
    font-family: "Armin Grotesk,", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 40px 40px;
  }
  .food--card {
    background: #FFFFFF;
    display: flex;
    width: 460px;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 20px 0 20px 25px;

    &__img {
      width: 150px;
      height: 143px;
      position: relative;
      left: 70px;
      margin: 20px 0 20px -54px;
      border-radius: 30px;
    }

    &__word {
      width: 449px;
      margin: 100px 0 0 70px;
      height: 250px;
      text-align: left;

      h2 {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 600;
        font-size: 20px;
        width: 205px;
      }

      p {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        width: 240px;
        margin: 10px 0;
      }

      &--order {
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;
        width: 200px;

        h4 {
          font-family: 'Armin Grotesk', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 20px;
          line-height: 19px;
          color: #000000;
        }

        &__icon1 {
          background: #DFE2FF;
          border-radius: 11px;
          font-size: 10px;
          margin: 0 0 0 200px;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            font-size: 20px;
            width: 40px;
            height: 20px;
            color: #0256d3;
          }
        }

      }
    }
  }

}

@media (max-width: 450px) {
  .food--card {
    background: #FFFFFF;
    display: flex;
    width: 350px;
    height: 160px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;

    &__img {
      width: 100px;
      height: 100px;
      margin: 20px 0 20px -56px;
      border-radius: 30px;
    }

    &__word {
      width: 224px;
      margin: 140px 0 0 40px;
      height: 250px;
      text-align: left;

      h2 {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 600;
        font-size: 16px;
        width: 175px;
      }

      p {
        font-family: "Armin Grotesk", sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        width: 170px;
        margin: 10px 0;
      }

      &--order {
        display: flex;
        align-items: center;
        width: 130px;

        h4 {
          font-family: 'Armin Grotesk', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          color: #000000;
        }

        &__icon1 {
          background: #DFE2FF;
          border-radius: 11px;
          width: 33px;
          height: 25px;
          font-size: 1px;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            font-size: 15px;
            color: #0256d3;
          }
        }

      }
    }
  }

}

@media (max-width: 428px) {
  h1 {
    font-size: 20px;
    margin-top: -92px;
  }
  .food--card {
    background: #FFFFFF;
    display: flex;
    width: 335px;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;

    &__img {
      width: 90px;
      height: 90px;
      margin: 20px 0 20px -54px;
      border-radius: 30px;
    }

    &__word {
      width: 224px;
      height: 250px;
      text-align: left;

      h2 {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 600;
        font-size: 16px;
        width: 185px;
      }

      p {
        font-family: "Armin Grotesk", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        width: 170px;
        margin: 10px 0;
      }

      &--order {
        display: flex;
        align-items: center;
        position: relative;
        top: -2px;
        width: 160px;

        h4 {
          font-family: 'Armin Grotesk', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          color: #000000;
        }

        &__icon1 {
          background: #DFE2FF;
          border-radius: 11px;
          width: 33px;
          height: 27px;
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            font-size: 15px;
            color: #0256d3;
          }
        }

      }
    }
  }

}

@media (max-width: 414px) {
  .food--card {
    background: #FFFFFF;
    display: flex;
    width: 330px;
    height: 140px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;

    &__img {
      width: 90px;
      height: 90px;
      margin: 20px 0 20px -54px;
      border-radius: 30px;
    }

    &__word {
      width: 224px;
      height: 250px;
      margin: 150px 0 0 40px;
      text-align: left;

      h2 {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 600;
        font-size: 15px;
        width: 170px;
      }

      p {
        font-family: "Armin Grotesk", sans-serif;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        width: 80%;
      }

      &--order {
        display: flex;
        align-items: center;
        width: 150px;

        h4 {
          font-family: 'Armin Grotesk', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          color: #000000;
        }

        &__icon1 {
          background: #DFE2FF;
          border-radius: 11px;
          width: 33px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            font-size: 10px;
            color: #0256d3;
          }
        }

      }
    }
  }

}

@media (max-width: 390px) {
  #food .food h1 {
    font-family: "Armin Grotesk,", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 0 0 30px 10px;
  }
  .food--card {
    background: #FFFFFF;
    display: flex;
    width: 352px;
    height: 140px;
    margin: 15px auto 15px 12px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;

    .img {
      display: flex;
      align-items: center;
      justify-content: center;

      &__img {
        width: 90px;
        height: 85px;
        border-radius: 20px;
      }
    }


    &__word {
      margin: 140px 0 0 35px;

      h2 {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 500;
        font-size: 16px;
        width: 180px;
      }

      p {
        font-family: "Armin Grotesk", sans-serif;
        font-weight: 400;
        line-height: 17px;
        font-size: 12px;
        width: 190px;
        margin: 10px 0 10px 0;
      }

      &--order {
        display: flex;
        align-items: center;
        width: 200px;
        margin: 15px 0 0 0;

        h4 {
          font-family: 'Armin Grotesk', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          color: #000000;
        }

        &__icon1 {
          background: #DFE2FF;
          border-radius: 11px;
          width: 36px;
          height: 25px;
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            font-size: 14px;
            color: #0256d3;
          }
        }

      }
    }
  }

}

@media (max-width: 360px) {
  #food {
    padding-top: 92px;
    padding-left: 10px;

  }
  #food .food h1 {
    font-family: "Armin Grotesk,", sans-serif;
    font-weight: 600;
    margin: 0 0 30px 20px;
    font-size: 24px;
  }
  .food--card {
    background: #FFFFFF;
    display: flex;
    width: 320px;
    height: 125px;
    align-items: center;
    border-radius: 20px;
    margin: 20px 0 10px 10px;

    &__img {
      width: 85px;
      height: 90px;
      border-radius: 20px;
    }

    &__word {
      width: 224px;
      margin: 160px 0 0 50px;
      height: 250px;
      text-align: left;

      h2 {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 600;
        font-size: 15px;
        width: 190px;
      }

      p {
        font-family: "Armin Grotesk", sans-serif;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        width: 190px;
        margin: 5px 0;
      }

      &--order {
        display: flex;
        align-items: center;
        width: 140px;

        h4 {
          font-family: 'Armin Grotesk', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          color: #000000;
        }

        &__icon1 {
          background: #DFE2FF;
          border-radius: 11px;
          width: 30px;
          height: 20px;
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            font-size: 10px;
            color: #0256d3;
          }
        }

      }
    }
  }

}

@media (max-width: 320px) {
  #food .food h1 {
    font-family: "Armin Grotesk,", sans-serif;
    font-weight: 600;
    margin: 0 0 30px 20px;
    font-size: 24px;
  }

  .food--card {
    background: #FFFFFF;
    display: flex;
    width: 275px;
    position: relative;
    right: 5px;
    height: 130px;
    align-items: center;
    border-radius: 20px;

    &__img {
      width: 80px;
      height: 80px;
      border-radius: 20px;
    }

    &__word {
      width: 220px;
      margin: 160px 0 0 55px;
      height: 250px;
      text-align: left;

      h2 {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 600;
        font-size: 13px;
        width: 170px;
      }
      p {
        font-family: "Armin Grotesk", sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        width: 150px;
        margin: 5px 0;
      }

      &--order {
        display: flex;
        align-items: center;

        h4 {
          font-family: 'Armin Grotesk', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          color: #000000;
        }

        &__icon1 {
          background: #DFE2FF;
          border-radius: 11px;
          width: 30px;
          height: 23px;
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          right: 130px;

          .icon {
            font-size: 10px;
            color: #0256d3;
          }
        }

      }
    }
  }

}
