@media (max-width: 992px) {
  #food {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: #121212;
    }

    .food--card {
      background: #FFFFFF;
      display: flex;
      width: 845px;
      height: 250px;
      align-items: center;
      justify-content: space-around;
      border-radius: 20px;
      margin: 20px 0;

      &__img {
        width: 240px;
        height: 200px;
        border-radius: 30px;
      }

      &__word {

        h2 {
          font-family: 'Armin Grotesk', sans-serif;
          font-weight: 600;
          font-size: 27px;
        }

        p {
          font-family: 'Armin Grotesk', sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 25px;
          width: 450px;
          margin: 20px 0;
        }

        &--order {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 420px;
          margin: 50px 0 0 0;

          h4 {
            font-family: 'Armin Grotesk', sans-serif;
            font-style: italic;
            font-weight: 400;
            font-size: 22px;
            line-height: 19px;
            color: #000000;
          }

          &__blockZ {

            position: relative;
            background: #DFE2FF;
            border-radius: 15px;
            width: 80px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon1 {
              font-size: 26px;
              color: #0256d3;
            }

            .icon2 {
              font-size: 30px;
              color: #0256d3;
            }
          }
        }
      }
    }

  }
}

@media (max-width: 884px) {
  #food {
    .food--card {
      &__img {
      }
    }
  }
}

@media (max-width: 836px) {
  #food {
    .food--card {
      height: 250px;
      width: 730px;

      .img {
        img {
          width: 200px;
          height: 200px;
          margin-left: 30px;
        }
      }
      &__word {
        width: 430px;
        p {
          width: 400px;
          margin: 5px 0;
        }
        &--order {
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 801px) {
  #food {
    .food--card {
      height: 250px;
      width: 730px;

      .img {
        img {
          width: 200px;
          height: 200px;
          margin-left: 30px;
        }
      }
      &__word {
        width: 430px;
        p {
          width: 400px;
          margin: 5px 0;
        }
        &--order {
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #food {
    .food--card {

      &__word{
        p {

        }
      }
    }
  }
}

@media (max-width: 576px) {
  #food {
    .food--card {
      height: 200px;
      width: 500px;

      .img {
        img {
          width: 165px;
          height: 160px;
          margin-left: 20px;
        }
      }
      &__word {
        width: 430px;
        margin-left: 20px;
        h2 {
          font-size: 20px;
        }
        p {
          width: 280px;
          margin: 2px 0;
          font-size: 18px;
        }
        &--order {
          width: 260px;
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 451px) {
  #food {
    .food--card {
      height: 180px;
      width: 400px;
      .img {
        img {
          width: 145px;
          height: 140px;
          margin-left: 20px;
          border-radius: 12px;
          object-fit: cover;
        }
      }
      &__word {
        width: 350px;
        margin-left: 10px;
        h2 {
          font-size: 18px;
          padding-top: 10px;
        }
        p {
          width: 230px;
          margin: 2px 0;
          font-size: 15px;
          line-height: 21px;
        }
        &--order {
          width: 210px;
          margin: 9px 0;
          h4 {
            font-size: 18px;
          }
          &__blockZ {
            width: 60px;
            height: 40px;
            .icon2 {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 415px) {
  #food {
    .food--card {
      height: 180px;
      width: 100%;
      .img {
        img {
          width: 130px;
          height: 20vh;
        }
      }
      &__word {

      }
    }
  }
}

@media (max-width: 401px) {
  #food {
    .food--card {
      &__word {
        width: 200px;
        p {
          width: 190px;
          font-size: 13px;
        }
        &--order {
          width: 170px;
          h4 {
            font-size: 16px;
          }
          &__blockZ {
            width: 55px;
            height: 40px;
            .icon2 {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  #food {
    .food--card {
      height: 150px;
      .img {
        img {
          width: 110px;
          height: 110px;
        }
      }
      &__word {
        p {
          width: 170px;
          font-size: 14px;
          line-height: 15px;
        }
        &--order {
          width: 170px;
          h4 {
          }
          &__blockZ {
            width: 50px;
            height: 35px;
            .icon2 {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #food {
    .food--card {
      height: 150px;

      .img {
        img {
          width: 100px;
          height: 100px;
        }
      }
      &__word {
        h2 {
          font-size: 16px;
        }
        p {
          width: 150px;
          font-size: 12px;
          line-height: 15px;
        }
        &--order {
          width: 140px;
          h4 {
          }
          &__blockZ {
            width: 50px;
            height: 35px;
            .icon2 {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}