@media (max-width: 992px) {
  #food {
    background: #F4F3FF;
    .food {
          h1 {
        font-family: 'Armin Grotesk,', sans-serif;
        font-weight: 600;
        font-size: 33px;
        padding-top: 100px;
        color: #004FC7;
        padding-left: 25px;
      }
      }
    }
  }

@media (max-width: 884px) {
  #food {
    .food {
      h1 {
      }
    }
  }
}

@media (max-width: 834px) {
  #food {
    .food {
      h1 {

      }
    }
  }
}

@media (max-width: 800px) {
  #food {
    .food {

    }
  }

}

@media (max-width: 768px) {
  #food {
    .food {
    }
  }
}

@media (max-width: 576px) {
  #food {
    .food {
    }
  }
}

@media (max-width: 450px) {
  #food {
    .food {
    }
  }
}

@media (max-width: 428px) {

}
  @media (max-width: 414px) {

  }

  @media (max-width: 412px) {

  }

  @media (max-width: 393px) {

  }

  @media (max-width: 390px) {

  }

  @media (max-width: 375px) {
  }

  @media (max-width: 360px) {

  }
  @media (max-width: 320px) {
  }






