@media (max-width: 992px) {
  #card .card h1 {
    font-family: "Armin Grotesk,", sans-serif;
    font-weight: 600;
    font-size: 41px;
    margin: 0 0 0 36px;
  }
  #card {
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      color: #121212;
    }
    .card--card {
      background: #FFFFFF;
      display: flex;
      width: 845px;
      height: 250px;
      align-items: center;
      justify-content: space-around;
      border-radius: 20px;
      margin: 20px 0 50px 10px;

      &__img {
        width: 240px;
        height: 200px;
        border-radius: 30px;
      }

      &__word {
        margin-top: 50px;
        width: 500px;
        height: 250px;
        text-align: left;

        h2 {
          font-family: 'Armin Grotesk', sans-serif;
          font-weight: 600;
          font-size: 27px;
          width: 500px;
        }

        p {
          font-family: 'Armin Grotesk', sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 25px;
          width: 450px;
          margin: 20px 0;
        }

        &--order {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 420px;
          margin: 50px 0 0 0;

          h4 {
            font-family: 'Armin Grotesk', sans-serif;
            font-style: italic;
            font-weight: 400;
            font-size: 22px;
            line-height: 19px;
            color: #000000;
          }

          &__icon1 {
            right: 10%;
            background: #DFE2FF;
            border-radius: 15px;
            width: 80px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon1 {
              font-size: 26px;
              color: #0256d3;
            }
            .icon2 {
              font-size: 30px;
              color: #0256d3;
            }
          }

        }
      }
    }
  }
}

@media (max-width: 884px) {
  .card--card {
    background: #FFFFFF;
    display: flex;
    position: relative;
    width: 700px;
    height: 300px;
    right: 10px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 50px 0 50px 55px;

    &__img {
      width: 210px;
      height: 190px;
      position: relative;
      left: -5px;
      margin: 20px 0 20px 50px;
      border-radius: 30px;
    }

    &__word {
      margin-top: 50px;
      width: 449px;
      position: relative;
      left: 30px;
      height: 250px;
      text-align: left;

      h2 {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 600;
        font-size: 27px;
        width: 265px;
      }

      p {
        font-family: 'Armin Grotesk', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        width: 300px;
        margin: 20px 0;
      }

      &--order {
        display: flex;
        align-items: center;
        width: 350px;

        h4 {
          font-family: 'Armin Grotesk', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 22px;
          line-height: 19px;
          color: #000000;
        }

        &__icon1 {
          background: #DFE2FF;
          border-radius: 15px;
          width: 70px;
          height: 35px;
          right: 101px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon {
            font-size: 30px;
            color: #0256d3;

          }
        }
        &__icon2 {
          background: #DFE2FF;
          border-radius: 15px;
          width: 70px;
          height: 35px;
          right: 101px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 10;
          .icon {
            font-size: 30px;
            color: #0256d3;

          }
        }


      }
    }
  }

}

@media (max-width: 834px) {
  #card .card h1 {
    margin: -130px 0 20px 36px;
  }
  #card .card--card {
    background: #FFFFFF;
    display: flex;
    width: 790px;
    height: 250px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 50px 0 20px 20px;
  }
  #card .card--card__img {
    width: 210px;
  }
  #card .card--card__word h2 {
    width: 427px;
  }
}

@media (max-width: 800px) {
  #card .card--card__word h2 {
    width: 326px;
  }
  #card .card--card {
    margin: -116px 0 20px 18x;
    width: 680px;
    height: 250px;
  }
  #card .card--card__img {
    width: 197px;
    height: 175px;
    margin: 0 0 0 30px;
  }
  #card .card--card__word p {
    width: 373px;
  }
  #card .card--card__word--order {
    width: 381px;
    margin: 25px 0 0 0;
  }
  #card .card--card__word {
    margin-top: 48px;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  #card .card--card {
    width: 520px;
    height: 200px;
    margin-top: 40px;
  }
  #card .card--card__img {
    width: 154px;
    height: 157px;
  }
  #card .card--card__word h2 {
    width: 308px;
    font-size: 22px;
  }
  #card .card--card__word p {
    width: 266px;
    font-size: 16px;
  }
  #card .card--card__word--order {
    width: 269px;
    margin: 20px 0 0 0;
  }
  .foods--one__basket--icon .icon {
    font-size: 21px;
  }
  .foods--one__basket--icon {
    width: 43px;
    height: 32px;
    #food .food--card__word {
      margin-top: 55px;
      height: 229px;
    }
  }
  #card .card--card__word {
    margin-top: 85px;
  }
  #card .card--card__word--order__icon1 .icon2 {
    font-size: 23px;
    color: #0256d3;
  }
  #card .card--card__word--order__icon1 {
    position: absolute;
    right: 16%;
    border-radius: 17px;
    width: 60px;
    height: 37px;
  }
}

@media (max-width: 451px) {
  #card .card--card__img {
    width: 120px;
    height: 120px;
    position: relative;
    left: 10px;
  }
  #card .card--card {
    width: 400px;
    height: 160px;
  }
  #card .card--card__word h2 {
    width: 250px;
    font-size: 18px;
    margin: -10px 0;
  }
  #card .card--card__word p {
    width: 220px;
    font-size: 14px;
    line-height: 20px;
  }
  #card .card--card__word--order {
    width: 221px;
    height: 4px;
  }
  #card .card h1 {
    margin: -87px 0 20px 36px;
    font-size: 25px;
  }
  #card .card--card__word {
    margin: 140px 30px 0 2px;
  }
  #card .card--card__word--order h4 {
    font-size: 16px;
  }
  #card .card--card__word--order__icon1 {
    width: 51px;
    height: 31px;
  }
  #card .card--card__word--order__icon1 .icon2 {
    font-size: 20px;
  }
}

@media (max-width: 428px) {
  #card .card--card__word h2 {
    width: 200px;
    font-size: 16px;
  }
  #card .card--card__word p {
    width: 190px;
    font-size: 13px;
    line-height: 18px;
  }
  #card .card--card__word--order {
    width: 189px;
    margin: 30px 0 0 0;
  }
  #card .card--card__word {
    margin: 146px 26px 0 -8px;
  }
  #card .card--card__img {
    width: 120px;
    height: 120px;
    position: relative;
    left: -3px;
  }
}

@media (max-width: 415px) {
  #card .card--card__word h2 {
    width: 207px;
    font-size: 15px;
  }
  #card .card--card__word p {
    width: 195px;
  }
  #card .card--card__word {
    margin: 139px 76px 0 5px;
  }
  #card .card--card {
    width: 373px;
  }
  #card .card--card__img {
    width: 120px;
    height: 120px;
    position: relative;
    left: 17px;
  }
}

@media (max-width: 400px) {
  #card .card--card__img {
    width: 101px;
    height: 101px;
    position: relative;
    left: 15px;
  }
  #card .card--card {
    width: 357px;
    margin: 30px 0 10px 25px;
  }
  #card .card--card__word {
    margin: 158px 67px 0 0;
  }}

@media (max-width: 376px) {
  #card .card--card {
    width: 343px;
    margin: 30px 0 10px 25px;
  }
  #foods .foods--one__basket--icon {
    color: #004FC7;
    width: 63px;
    background: #DFE2FF;
    height: 30px;
    border-radius: 13px;
    font-size: 17px;
  }
}

@media (max-width: 360px) {
  #card .card--card__word p {
    width: 195px;
    font-size: 12px;
    line-height: 15px;
  }
  .foods--one__basket--icon {
    width: 37px;
    height: 26px;
  }
  #card .card--card {
    width: 330px;
    margin: 30px 0 10px 27px;
  }
  #card .card--card__img {
    width: 95px;
    height: 92px;
  }
  #card .card--card__word--order__icon1 .icon1 {
    font-size: 20px;
    color: #0256d3;
  }
}

@media (max-width: 320px) {
  #card .card--card__img {
    width: 86px;
    height: 86px;
  }
  #card .card--card__word h2 {
    width: 160px;
    font-size: 13px;
    line-height: 15px;
  }
  #card .card--card__word p {
    width: 160px;
    font-size: 11px;
    line-height: 15px;
  }
  #card .card--card__word {
    margin: 166px 60px 0 0;
  }
  #card .card--card__word--order {
    width: 166px;
  }
  #card .card--card {
    width: 280px;
    height: 132px;
    margin: 20px 0 10px 22px;
  }
  #card .card h1 {
    margin: -160px 0 20px 17px;
    font-size: 23px;
  }
  #card .card--card__word--order__icon1 {
    width: 45px;
    height: 26px;
  }
  #card .card--card__word--order__icon1 .icon2 {
    font-size: 18px;
  }
  #foods .foods--one__basket .foods--one__basket--icon .icon {
    font-size: 15px;
  }
  #foods .foods--one__basket--icon {
    width: 68px;
    height: 23px;
  }
  #card .card--card__word--order__icon1 .icon1 {
    font-size: 18px;
    color: #0256d3;
  }
}
