.error{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  margin-top: 20px;
  background: #FFFFFF;
  border-radius: 30px;
  &--title{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h1{
      color: #121212;
      padding-bottom: 20px;
    }
    span{
      color: rebeccapurple;
    }
    p{
      color: #0256d3;
      font-size: 25px;
    }
  }
}


@media (max-width: 576px) {
  .error{
    &--title{
      h1{
       padding-right: 25px;
      }
    }
  }
}

@media (max-width: 450px) {
  .error{
    &--title{
      h1{
        padding-right: 33px;
      }
    }
  }
}

@media (max-width: 360px) {
  .error{
    &--title{
      h1{
        font-size: 36px;
        padding-right: 40px;
      }
      p{
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 390px) {
  .error{
    &--title{
      h1{
        font-size: 36px;
        padding-right: 40px;
      }
      p{
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 360px)  {
  .error{
    &--title{
      h1{
        font-size: 36px;
        padding-right: 43px;
      }
      p{
        font-size: 15px;
      }
    }
  }
}



